@import 'custom-components/_fonts.scss';
@import 'custom-components/breakpoint/_breakpoint.scss';
@import 'custom-components/breakpoint/_custom-breakpoint.scss';
@import 'custom-components/_colors.scss';
@import 'custom-components/_form-styles.scss';
@import 'custom-components/_custom-buttons.scss';
@import 'custom-components/_helpers.scss';
@import 'custom-components/_how-it-works.scss';
@import 'custom-components/_statistics-trustpilot.scss';
@import 'custom-components/_statistics-section.scss';
@import 'custom-components/_happy-clients.scss';
@import 'custom-components/_faq-section.scss';
@import 'custom-components/_find-n-hire.scss';
@import 'custom-components/_why-choose-curam.scss';
@import 'custom-components/_how-to-pay.scss';
@import 'custom-components/_cost-description.scss';
@import 'custom-components/_cost-calculator.scss';
@import 'custom-components/_services-sub-section.scss';
@import 'custom-components/_care-services-card.scss';
@import 'custom-components/_carer-care-services.scss';
@import 'custom-components/_care-services.scss';
@import 'custom-components/_why-section.scss';
@import 'custom-components/_how-does-section.scss';
@import 'custom-components/_what-section.scss';
@import 'custom-components/_how-section.scss';
@import 'custom-components/_benefits-section.scss';
@import 'custom-components/_care-requirement.scss';
@import 'custom-components/_carers-usps.scss';
@import 'custom-components/_carer-testimonial.scss';
@import 'custom-components/_care-emergency-card.scss';
@import 'custom-components/_left-sidebar-list.scss';
@import 'custom-components/_banner-style.scss';
@import 'custom-components/_menu-header.scss';
@import 'custom-components/_header.scss';
@import 'custom-components/_testimonial.scss';
@import 'custom-components/_pre-footer-style.scss';
@import 'custom-components/_footer.scss';

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

.field__wrapper {
    position: relative;
}
body {
    font-family: $font-family-name, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    
    @include breakpoint($phone-only){
        position: relative;
    }
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.014em;

}

.heading-h1 {
    //styleName: H1/Bold;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 690;
    letter-spacing: 0.012em;

    margin: 0;

    @include breakpoint($phone-only) {
        font-size: 28px;
        line-height: 1.4;
    }
    @include breakpoint($tablet-portrait) {
        font-size: 28px;
        line-height: 1.4;
    }
    @include breakpoint($small-landscape) {
        font-size: 28px;
    }
}

.heading-h2 {
    //styleName: H2/Bold;
    font-size: 28px;
    font-weight: 690;
    line-height: 1.4;
    letter-spacing: 0.012em;

    margin: 0;

    @include breakpoint($phone-only){
        font-size: 22px;
        line-height: 140%;
    }
}

.heading-h3 {
    //styleName: H3/Bold;
    font-size: 24px;
    font-weight: 690;
    line-height: 1.4;
    letter-spacing: 0.012em;

    margin: 0;

    @include breakpoint($phone-only){
        font-size: 17px;
        line-height: 140%;
    }
    @include breakpoint ($tablet-portrait) {
        font-size: 20px;
    }
}

.heading-h4{
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.012em;

    margin: 0;
    @include breakpoint($phone-only){
        font-size: 17px;
    }
}

.heading-h5{
    font-size: 17px;
    line-height: 1.4;
    letter-spacing: 0.012em;

    margin: 0;
    @include breakpoint($phone-only){
        font-size: 15px;
        font-weight: 520;
    }
}

p{
    margin: 0;
    font-size: 15px;
    color: $gray-800;
    font-weight: 520;
    line-height: 1.4;
    letter-spacing: 0.014em;

    a {
        color: $gray-800;
        text-decoration: underline;
    }
}

.help-text {
    font-size: 14px;
    font-weight: $font-520 ;
    line-height: 1.4;
    letter-spacing: 0.014em;

    margin: 0;
}

.help-text {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.014em;

    margin: 0;
}

.font-bold {
    font-weight: $font-690;
}

.font-medium {
    font-weight: $font-630;
}

.font-regular {
    font-weight: $font-520;
}

a{
    text-decoration: none;
}

.gap-small{
    gap: $gap-small;
    @include breakpoint($phone-only){
        gap: 12px;
    }
}

.element-hide-desk {
    display: none;
    @include breakpoint ($phone-only) {
        display: block;
    }
    @include breakpoint ($tablet-portrait) {
        display: block;
    }
}
.element-hide-responsive {
    @include breakpoint ($phone-only) {
        display: none;
    }
    @include breakpoint ($tablet-portrait) {
        display: none;
    }
    
}

.background-transprent {
    background: transparent;
}
.section-background {
    background: $gray-100;
}




.gap-large{
    gap : 44px ;
}

.gap-medium {
    gap : 32px;
    @include breakpoint ($tablet-portrait) {
        gap : 28px;
    }
    @include breakpoint ($phone-only) {
        gap : 28px;
    }
    @include breakpoint ($small-landscape) {
        gap : 28px;
    }
}

.gap-extralarge {
    gap: 124px;
    @include breakpoint($phone-only){
        gap: 84px;
    }
}

.section-padding-small{
    padding-top: $sec-regular;
    padding-bottom: $sec-regular;

    @include breakpoint($phone-only){
        padding-top: 44px;
        padding-bottom: 44px; 
    }
}

.section-padding {
    padding: 64px 32px;
    @include breakpoint ($tablet-portrait) {
        padding: 64px 56px;
    }
    @include breakpoint ($phone-only) {
        padding: 44px 20px;
    }
    @include breakpoint ($small-landscape) {
        padding: 44px 24px;
    }
}

.section-padding-medium {
    padding-top: $sec-medium;
    padding-bottom: $sec-medium;

    @include breakpoint($phone-only){
        padding-top: 44px;
        padding-bottom: 44px; 
    }
    @include breakpoint($tablet-portrait){
        padding-top: 64px;
        padding-bottom: 64px; 
    }
}

.section-padding-large {
    padding-top: $sec-large;
    padding-bottom: $sec-large;

    @include breakpoint($phone-only){
        padding-top: 84px;
        padding-bottom: 84px;
    }
}

.section-padding-extra-large {
    padding-top: 124px;

    @include breakpoint($phone-only){
        padding-top: 84px;
    }
    @include breakpoint ($small-landscape) {
        padding-top: 84px;
    }
    @include breakpoint($tablet-landscape){
        padding-top: 104px;
    }
    @include breakpoint($tablet-portrait){
        padding-top: 64px;
    }
    @include breakpoint($phone-only){
        padding-top: 64px;
    }
}

.d-grid{
    display: grid;
}

.grid-3{
    grid-template-columns: 1fr 1fr 1fr ;

    @include breakpoint($phone-only){
        grid-template-columns: 1fr;
    }
}

.d-flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

section.desktop{
    padding-top: 64px;
    padding-bottom: 64px;

    &.bg-color{
        background-color: $primary-100;
    }
}

.block-hidden {
    @include breakpoint($phone-only) {
        display: none !important;
    }
}

.title-color {
    color: $gray-800;
}

.button-group{
    display: grid;

}
.padding-bottom-none{
    padding-bottom: 0px !important;
}
.padding-top-none{
    padding-top: 0px !important;
}

.bg-color-primary{
    background-color: $primary-100;
}

input:-webkit-autofill {
    border-radius: 12px;
}

input:autofill {
    border-radius: 12px;
}

.disappear {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

body a:focus, body button:focus, body input[type=text]:focus, body input[type=submit]:focus, body textarea:focus, body *:focus {
    outline: 2px dotted $primary-700;
    outline-offset: 2px;
}

.content-area {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint($phone-only){
        padding-left: 24px;
        padding-right: 24px;
    }

    @include breakpoint ($large-device) {
        padding-left: 0;
        padding-right: 0;
        max-width: $query-maxwidth-large;
        margin-left: auto;
        margin-right: auto;
    }

    @include breakpoint ($small-landscape) {
        padding-left: 24px;
        padding-right: 24px;
    }

    max-width: $query-maxwidth-large;

    .cus-btn{
        width: fit-content;
    }
}

.field__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 16px;
    background: $gray-100;
    border: 1px solid $gray-600;
    border-radius: 12px;
    width: 100%;
    height: 52px;
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
        border: 1px solid $primary-400;
        box-shadow: 0px 0px 0px 1px $primary-200;
        border-radius: 12px;

        .normalstate {
            display: none;
        }
        .hoverstate {
            display: block;
        }
    
    }

    &:focus, 
    &:focus-within {
        border: 1px solid $primary-400 ;
        box-shadow: 0px 0px 0px 4px $primary-200;
        border-radius: 12px;

        .normalstate {
            display: none;
        }
        .hoverstate {
            display: block;
        }
    
    }
    

    .hoverstate {
        display: none;
    }
    .prefix-img {
        display: flex;
    }

    input[type="text"] {
        font-weight: 560;
        font-size: 16px;
        line-height: 140%;
        color: $gray-800;
        padding: 0!important;
        border: 0px none;
        font-family: 'Manrope';
        border-radius: 0;
        height: 100%;
        width: 100%;

        &:focus{
            outline: 0;
            outline-offset: 0;
        }
        &::placeholder{  
            color: $gray-400;
        }
    }

    .error-msg{
        display: none;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 560;
        font-size: 13px;
        line-height: 140%;
        color: #E90510;
        position: absolute;
        top: 58px;
    }

    &.error{
        border: 1px solid #FC7A81;
        box-shadow: 0px 0px 2px rgba(23, 25, 74, 0.05);

        @include breakpoint($phone-only) {
            margin-bottom: 30px;
        }

        .error-msg{
            display: block;
        }

        svg {
            path {
                stroke: #FC7A81;
               /* fill: #FEC8CB; */
            }
        }

        &:focus, 
        &:focus-within {
            border: 1px solid #FC7A81;
            box-shadow: 0px 0px 0px 4px #FEC8CB;
        }
    }

}

// modal css
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.15);
    align-items: flex-end;
    @include smooth-transition(200ms);
    
    .modal-content {
        background-color: $gray-100;
        margin: 0;
        padding: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        width: 100%;
        /*height: 30vh;*/
        min-height: 246px;
        bottom: 0;
        top: auto !important;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        &.large-modal{
            height: 90vh;
            height: 90dvh;
        }

        .input__field-wrapper.reducepadding.other__input{
            width: 100%;
        }

        .modal-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 16px 20px;
            gap: 4px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
            h2 {
                font-style: normal;
                font-weight: 690;
                font-size: 24px;
                line-height: 140%;
                display: flex;
                align-items: flex-end;
                color: $primary-800;
            }
        }
        .modal-body {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 24px;
            gap: 16px;
            align-self: stretch;
            flex-grow: 0;

            .field__wrapper {
                position: relative;
            }
            #othertime{
                width: 100%;
                flex-direction: row;
                align-items: center;
                padding: 15px 16px;
                gap: 16px;
                background: $gray-100;                ;
                border: 1px solid $gray-100;
                ;
                box-shadow: 0px 1px 2px rgba(23, 25, 74, 0.05);
                border-radius: 12px;
                text-align: center;
                line-height: 140%;
                font-weight: 520;
                font-size: 16px;
                color: $gray-900;
            }

            button.addhour {
                background: $primary-600;
                border-radius: 12px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 15px 20px;
                gap: 8px;
                border: 0px none;

                path {
                    fill: $gray-100;
                }
            }

            button.minushour {
                border: 1px solid $primary-400;
                border-radius: 12px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 15px 20px;
                gap: 8px;
                
                path {
                    fill: $primary-400;
                }
            }

        }
        
        .modal-footer {
          /*  display: flex; */
            display: none;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 24px 16px;
            gap: 16px;
            background: $gray-100;
            align-self: stretch;

            #confirmBtn{
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 760;
                font-size: 16px;
                line-height: 140%;
                color: $gray-100;
                text-decoration: none;
                text-align: center;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }
    }
    
    .close {
        color: $gray-400;
        float: right;
        font-size: 14px;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

// curamcare-cookie-banne css
#curamcare-cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;

    padding: 12px 24px;
    gap: 24px;

    background-color: $gray-700;

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    z-index: 10;

    animation: showCookiePopup 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &[aria-hidden="true"] {
        display: none;
    }

    @include breakpoint($phone-only) {
        padding: 12px;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        row-gap: 0;
        column-gap: 6px;
    }

    
    h2 {
        color: $gray-100;
        font-weight: 560;
        font-size: 17px;

        @include breakpoint($phone-only) {
            font-size: 14px;
        }

        a#curamcare-cookie__link {
            color: $gray-100;
            font-size: 17px;
            line-height: 1.4;
            font-weight: 560;
            text-decoration-line: underline;
            display: inline;
    
            @include breakpoint($phone-only) {
                font-size: 14px;

            }
        }
    }

    a#curamcare-cookie__button {
        background-color: $gray-100;
        color: $primary-600;

        

        &:hover {
            background-color: $nav-hover;

        }   

        @include breakpoint($phone-only) {
            grid-column: 3 / 4;
            // grid-row: 1 / 4;
            padding: 0 8px;
            font-size: 13px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }


}

// dropdown menu css
.dropdown-menu{
    display: none;
    @include smooth-transition(100ms);
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px;
    background: $gray-100;
    box-shadow: 0px 4px 8px rgba(23, 25, 74, 0.05);
    width: 100%;
}
ul.dropdown-menu {
    position: absolute;
    transform: translate3d(0px, 62px, 0px);
    top: -10px;
    left: 0px;
    will-change: transform;
    height: auto;
    overflow: auto;
    min-height: 48px;
    max-height: 250px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid $gray-200;
    margin: 0;
    border-radius: 12px;
    z-index: 2;
    @extend %app-scroll-style;
    &:hover,
    &:focus {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 0px;
        background: $gray-100;
        box-shadow: 0px 4px 8px rgba(23, 25, 74, 0.05);
        width: 100%;
    }

    li.dropdown-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        gap: 10px;
        border-radius: 0px;
        font-weight: 520;
        font-size: 15px;
        line-height: 1.4;
        letter-spacing: 0.012em;
        color: $gray-600;
        cursor: pointer;
        width: 100%;
        // min-height: 48px;
        flex-direction: column;
        gap: 10px;
        padding: 8px 16px;
        align-items: flex-start;
        &[data-selected="true"] {
            background-color: $primary-100;
            color: $primary-800;
            font-weight: 690;
            span {
                color: $primary-800 !important; 
                font-weight: 690;
            }
        }
        &:hover{
            background-color: $primary-50;
            span.highlight-text {
                color: $primary-800;
            }
        }
        span {
            padding: 0px !important;
            &.help-text {
                font-size: 14px;
                font-weight: 520;
                color: $gray-600;
                letter-spacing: 0.014em;
            }
            &.highlight-text {
                color: $gray-900;
            }
        }
    }
    
}

// CSS Override After OWL Slider added
body {
    .owl-carousel {
        .owl-nav{
            display: none;
        }
        .owl-dots{
            margin-top: 28px;
            .owl-dot {
                span{
                    width: 16px;
                    height: 4px;
                    border-radius: 4px;
                    margin: 5px;
                }
                &.active {
                    span{
                        width: 24px;
                        background: #FF732E;
                    }
                }
            } 
        }
    }
}

#postcode-bottom-sheet-drawer {
    &.desktop-open {
        @include breakpoint ($tablet-portrait-up) {
            .modal-content {
                max-width: 432px;
                min-height: 400px;
                height: auto;
                margin: auto;
                border-radius: 12px;
            }
        }
    }
}


// orientation screen style
#orientation-overlay-warning {
    background: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 36px;
    background: $primary-100;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 12px;

        svg {
            width: 32px;
            height: 32px;
        }

        h2 {
            font-weight: 520;
            font-size: 15px;
            line-height: 1.4;
            text-align: center;
            letter-spacing: 0.014em;
            color: $gray-800;
        }
    }
    @media only screen and (min-width: 480px) 
        and (max-width: 980px) 
        and (orientation: landscape) {
        display: flex;
        z-index: 99999;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@keyframes showCookiePopup {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.small-tag {
    padding: 4px 14px;
    gap: 8px;
    display: flex;
    border: 1px solid $gray-300;
    border-radius: 20px;
    outline: 0 !important; 
    svg {
        width: 16px;
        height: 16px;
    }
    span {
        font-size: 14px;
        font-weight: 630;
        line-height: 1.4;
        letter-spacing: 0;
        color: $gray-800;
    }
    &:hover {
        background-color: $gray-100;
        box-shadow: 0px 1px 2px rgba(23, 25, 74, 0.05);
    }
    &:focus {
        box-shadow: 0px 0px 0px 4px #EEEEEE !important;
    }
    &:disabled {
        background-color: $gray-300;
        span {
            color: $gray-400;
        }
    }
    &:active {
        background-color: $gray-300;;
        box-shadow: 0px 0px 0px 4px #EEEEEE;
       
    }
}
.modal {
    .modal-content {
        z-index: 999;
    }
}
// calculator modal
#cost-calculate-modal {
    z-index: 999;
    .cost-calculator__right-content {
        display: flex;
        flex-direction: column;
        padding: 32px;
        gap: 24px;
        background: $gray-100;
        border-radius: 12px;
        max-width: 612px;
        height: auto;
        min-height: auto;
        margin: auto;
        @include breakpoint ($phone-only) {
            padding: 20px 20px 36px;
            gap: 28px;
            eight: 90dvh;
            min-height: 246px;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin: 0px;
        }

        .modal-header {
            padding: 0px;
            h2 {
                color: $gray-800;
                display: block;
                font-size: 28px;
                margin: 0;
                span {
                    color: $gray-600;
                }
                @include breakpoint ($tablet-landscape) {
                    font-size: 20px;
                    br {
                        display: none;
                    }
                }
                @include breakpoint ($phone-only) {
                    font-size: 20px;
                }
            }
            .close {
                margin-bottom: auto;
            }
        }
        .modal-body {
            flex-direction: column;
            padding: 0px;
            gap: 24px;
            @include breakpoint ($tablet-landscape) {
                gap: 28px;
            }
            @include breakpoint ($phone-only) {
                gap: 28px;
            }
        }
        @include breakpoint ($tablet-landscape) {
            gap: 28px;
            max-width: 744px;
        }
        .cost-calculator__search-result-title {
            font-size: 20px;
            color: $gray-100;
            font-weight: 690;
        }
        .cost-calculator-search-result__prices {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 12px;
            width: 100%;
            @include breakpoint($phone-only) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3,1fr);
                gap: 12px;
            }
            .cost-calculator-search-result__price-card {
                padding: 16px 20px;
                gap: 12px;
                display: flex;
                flex-direction: column;
                background: $gray-100;
                border: 1px solid $gray-200;
                border-radius: 12px;
                @include breakpoint($phone-only) {
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 16px 20px;
                }
                @include breakpoint ($tablet-portrait) {
                    padding: 20px;
                }
                span.cost-calculator-search-result__price-card-type {
                    color: $gray-900;
                    font-weight: 630;
                    font-size: 14px;
                }
                .cost-calculator-search-result__price-card-cost {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    @include breakpoint($phone-only)  {
                        flex-direction: row;
                        align-items: center;
                    }
                }
            }
            .cost-calculator-search-result__price-card-cost {
                @include breakpoint($phone-only) {
                    flex-direction: row;
                    display: flex;
                    gap: 4px;
                }
                .cost-calculator-search-result__price-card-amount {
                    color: $primary-600;
                    font-size: 20px;
                    margin: 0;
                    @include breakpoint ($tablet-portrait) {
                        font-size: 17px;
                    }
                    @include breakpoint ($phone-only) {
                        font-size: 17px;
                    }
                    @include breakpoint ($tablet-landscape) {
                        font-size: 17px;
                    }
                }
                .cost-calculator-search-result__price-card-rate {
                    color: $gray-600;
                    font-size: 14px;
                    @include breakpoint ($tablet-portrait) {
                        font-size: 14px;
                    }
                    @include breakpoint ($tablet-landscape) {
                        font-size: 14px;
                    }
                }
            }
            
        }
        .cost-calculator__search-result-info {
            color: $gray-700;
            text-align: left;
            margin-right: auto;
            font-size: 15px;
            span {
                color: $gray-800;
                font-weight: 690;
            }
        }
        .cost-calculator__search-result-terms-n-conditions {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;
            @include breakpoint ($tablet-landscape) {
                flex-direction: row;
                gap: 20px;
            }
            .cost-calculator__search-result-terms-n-condition-element {
                display: flex;
                gap: 8px;
                align-items: center;
                p.search-result-terms-n-condition-element__text {
                    color: $gray-700;
                }
            }
        }
        .modal-footer {
            display: flex;
            padding: 0px;
            
        }
    }
}

.content-area__body {
    .content-area__body-inner {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 16px;
        @include breakpoint ($tablet-portrait) {
            grid-template-columns: 1fr;
            padding: 0px;
        }
        @include breakpoint ($phone-only) {
            grid-template-columns: 1fr;
            padding: 0px;
        }
        @include breakpoint ($small-landscape) {
            grid-template-columns: 1fr;
            padding: 0px;
        }
    }
}

.right-content__header-section {
    display: flex;
    flex-direction: column;
}

.content-area {
    position: relative;
}

#section-carers__main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 36px 32px 64px;
    background-color: $primary-50;

    @include breakpoint ($tablet-portrait) {
        gap: 32px;
        padding: 48px 56px;
    }
    @include breakpoint ($tablet-landscape) {
        gap: 32px;
    }
    @include breakpoint ($phone-only) {
        gap: 32px;
        padding: 48px 20px;
       /* padding-top: 112px;
        padding-bottom: 48px; */
    }
    @include breakpoint ($small-landscape) {
        gap: 32px;
        padding: 32px 24px 44px;
    }
}

#section-carers__content-search {
    .section-carers__content-search-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;

        .section-carers__content-search-title {
            color: $gray-900;
            font-weight: 690;
        }
        form {
            display: flex;
            gap: 12px;
            max-width: 735px;
            position: relative;
            width: 60%;
            @include breakpoint ($phone-only) {
                width: 100%;
            }

            @include breakpoint ($tablet-portrait) {
                max-width: 379px;
                width: 100%;
            }

            @include breakpoint ($small-landscape) {
                max-width: 579px;
                width: 100%;
            }

            .field__wrapper {
                border: 1.25px solid $primary-100;
                box-shadow: 2px 2px 3px 2px rgba(215, 224, 255, 0.35);
                gap: 8px;
                @include breakpoint ($phone-only) {
                    height: 53px;
                }
                &:hover {
                    border: 1px solid $primary-400;
                    box-shadow: 0px 0px 0px 1px $primary-200;
                }
                &:focus,
                &:focus-within {
                    border: 1px solid $primary-400;
                    box-shadow: 0px 0px 0px 4px  $primary-200;
                }
                .location-icon {
                    width: 16px;
                    height: 16px;
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
                .location-field__icon {
                    width: 16px;
                    height: 16px;
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
    
}
.section-white{
    background-color: $gray;
}

