<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Curam - Landing Page</title>

    <link rel="stylesheet" href="../../css/style.css">

</head>

<body>
    <div class="form__input-group">
        <div class="input__field-wrapper reducepadding other__input noprefix-nopostfix">
            <input id="phonenumber-field" aria-label="Enter postcode or area name" autocomplete="off" type="text" class="form-control__custom dropdown" oninput="getInputVal('postcode-form')" placeholder="Enter postcode or area name" aria-haspopup="true" readonly="readonly">
        </div>
        <p id="phonenumber-field__error-msg" class="error-msg">Please enter a valid postcode</p>
    </div>
</body>

</html>