


input.dropdown {
    border-radius: 12px;
}
.dropdown:focus ~ .dropdown-menu,
.dropdown-menu:hover,
.dropdown-menu:focus
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(23, 25, 74, 0.05);
    width: 100%;
}

.form__input-group:focus, 
.form__input-group:focus-within{
    .dropdown-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(23, 25, 74, 0.05);
        width: 100%;
    }
}

.dropdown-menu{
    display: none;
    @include smooth-transition(100ms);
}
ul.dropdown-menu {
    position: absolute;
    transform: translate3d(0px, 62px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    height: auto;
    overflow: auto;
    min-height: 48px;
    max-height: 250px;
    z-index: 999;
    @extend %app-scroll-style;


    li.dropdown-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        gap: 10px;
        border-radius: 6px;
        font-weight: 560;
        font-size: 15px;
        line-height: 140%;
        color: #616161;
        cursor: pointer;
        width: 100%;
        min-height: 48px;
        &:hover{
            background-color: #f4f4f4;
        }
    }
    
}