@import '_colors.scss';

.block-hidden {
    @include breakpoint($phone-only) {
        display: none !important;
    }
}
.button-group{
    display: grid;

}
.padding-bottom-none{
    padding-bottom: 0px !important;
}

#banner-section{
    .banner-image{
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    .banner-title__section{
        display: grid;
        gap: 28px;
        @include breakpoint($phone-only){
            gap: 16px;
        }
    }
} 

#find-ideal-carer {
    .find-ideal-carer__content {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(5, minmax(150px, 180px));
        // grid-template-columns: repeat(5, minmax(150px, 240px));
        gap: 28px;

        @include breakpoint($tablet){
            grid-template-columns: repeat(3, minmax(150px, 180px));
        }

        @include breakpoint($phone-only){
            grid-template-columns: repeat(2, minmax(150px, 180px));
            gap: 24px;
        }

        .ideal-carer__cell {
            display: grid;
            gap: 28px;
            justify-items: center;

            .ideal-carer__cell-image {
                aspect-ratio: 1 / 1;
                background: $primary-100;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                overflow: hidden;
                width: 100%;

                @include breakpoint($phone-only) {
                    width: 120px;
                }

                img{
                    @include breakpoint($phone-only) {
                        width: 102px;
                        height: auto;
                    } 
                }
            }
            .ideal-carer__cell-info-text {
                font-weight: 560;
                text-align: center;
                color: $grey-900;
                font-size: 17px;
                line-height: 140%;
                letter-spacing: 0px;
                margin: 0;
            }
        }
    }
}

#carerhelp-need-section {
    .carerhelp-need__content {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr 1fr;

            @include breakpoint($tablet){
                grid-template-columns: 1fr 1fr;
            }

            @include breakpoint($phone-only) {
                grid-template-columns: 1fr ;
                gap: 44px;
            } 
            
            .carerhelp-need__single-block-content{
                display: grid;
                gap: 64px;
                padding: 34px 14px;
                border: 1px solid $grey-300;
                border-radius: 12px;
                align-content: space-between;

                @include breakpoint($phone-only) {
                    gap: 44px;
                }

            }
            .carerhelp-need__single-block-body {
                display: grid;
                gap: 32px;

                @include breakpoint($phone-only) {
                    gap: 24px;
                }

                .carerhelp-need__single-block-header {
                    display: grid;
                    gap: 6px;
                    grid-template-columns: 1fr auto;

                    h2 {
                        color: $primary-600;
                        font-size: 24px;
                        font-weight: 690;
                        line-height: 140%;
                        letter-spacing: 0em;
                        margin: 0;
                        @include breakpoint($phone-only) {
                           font-size: 20px;
                        } 
                        br{
                            @include breakpoint($phone-only) {
                                display: none;
                             }  
                        }
                    }
                }
                p {
                    font-family: 'Manrope';
                    font-weight: 560;
                    font-size: 15px;
                    line-height: 140%;
                }
            }

            .carerhelp-need__single-block-footer{
                a{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-family: 'Manrope';
                    font-weight: 640;
                    font-size: 15px;
                    line-height: 140%;
                    text-decoration-line: underline;
                    color: $primary-600;
                }
                
            }
    }
}

#faq-section {
    
    .faq-item-content-inner {
        padding: 0px 0px 0px 14px;
        border-left: 2px solid #ffffff;
        font-weight: 560;
        font-size: 17px;
        line-height: 140%;

        a{
            font-weight: 560;
            font-size: 17px;
            line-height: 140%;
            text-decoration: none; 
            color: #ffffff;
        }

        p{
            padding: 0px !important;
            border: none !important;
            margin: 0px;
        }
        ul{
            margin: 0px;
        }
    }
}

#conditional-care{
    .conditional-care__symptoms-group.typeof-care__block{
        .tags[data-state="inactive"]{
            padding: 14px 18px;
            border: 1px solid $grey-400;
            border-radius: 50px;
            color : $grey-600;
        }
        .tags[data-state="active"]{
            background-color: $primary-100;
            color: $primary-600;
        }
    }
}

#testimonial-section{
    #owl-carousel__single{
        position: relative;
        padding: 64px 108px;

        @include breakpoint($phone-only){
            padding: 44px 16px;
        }
        .testimonial.item{
            p{
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 690;
                font-size: 20px;
                line-height: 140%;
                text-align: center;
                color: $grey-900;
            }
        }
        .owl-nav{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            height: 50px;
            display: flex;
            width: 100%;
            justify-content: space-between;

            @include breakpoint($phone-only) {
                display: none;
            }
            
            button
            {
                height: 100%;
                vertical-align: middle;
                span{
                    font-size: 40px;
                    color: $primary-600;
                    font-weight: 560;
                }
                &.disabled{
                    opacity: 1;
                }
            }

        }
        .owl-dots{
            @include breakpoint ($not-phone){
                display: none;
            }
        }
    }
    .testimonial-section__content .testimonial{
        gap: 24px;
    }
}
