<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Curam - Landing Page</title>

    <link rel="stylesheet" href="../../css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body>
   
    <main class="scroll">
        <div class="filter-type conditional-experience multiple-dropdown__component">
            <p class="caption">Conditional experience</p>
            <div class="language-dropdown">
                <div class="form__input-group">
                    <div class="input__field-wrapper reducepadding other__input">
                        
                        <select id="conditional-experience-field" aria-label="Select Conditional Experience" autocomplete="off" class="form-control__custom dropdown" multiple data-select="3 Selected">
                            <option value="ce-1">Dementia care</option>
                            <option value="ce-2">Stroke</option>
                            <option value="ce-3">COPD</option>
                            <option value="ce-4">Alzhimers</option>
                            <option value="ce-5">Depression</option>
                        </select>
            
                        <ul class="dropdown-menu filter-type__option-items-group" aria-labelledby="dropdownMenuButton">
                            <li class="dropdown-item multiple filter-type__option-item uniform-checkbox">
                                <input type="checkbox" checked id="ce-1" class="checkbox-option">
                                <label class="checkbox-label" for="ce-1">
                                    <span class="subtitle">Dementia care</span>
                                </label>
                            </li>
                            <li class="dropdown-item multiple filter-type__option-item uniform-checkbox">
                                <input type="checkbox" checked id="ce-2" class="checkbox-option">
                                <label class="checkbox-label" for="ce-2">
                                    <span class="subtitle">Stroke</span>
                                </label>
                            </li>
                            <li class="dropdown-item multiple filter-type__option-item uniform-checkbox">
                                <input type="checkbox" checked id="ce-3" class="checkbox-option">
                                <label class="checkbox-label" for="ce-3">
                                    <span class="subtitle">COPD</span>
                                </label>
                            </li>
                            <li class="dropdown-item multiple filter-type__option-item uniform-checkbox">
                                <input type="checkbox" id="ce-4" class="checkbox-option">
                                <label class="checkbox-label" for="ce-4">
                                    <span class="subtitle">Alzhimers</span>
                                </label>
                            </li>
                            <li class="dropdown-item multiple filter-type__option-item uniform-checkbox">
                                <input type="checkbox" id="ce-5" class="checkbox-option">
                                <label class="checkbox-label" for="ce-5">
                                    <span class="subtitle">Depression</span>
                                </label>
                            </li>
                        </ul>
            
                        <div class="postfix-img">
                            <svg aria-label="Graphics Symbol" role="graphics-symbol" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.56959 8.50561C5.28215 8.20736 5.29092 7.73257 5.58917 7.44513C5.88742 7.15769 6.36221 7.16646 6.64965 7.46471L10.5334 11.4945C10.8208 11.7928 10.812 12.2676 10.5138 12.555C10.2155 12.8424 9.74074 12.8337 9.4533 12.5354L5.56959 8.50561Z" fill="#494FC9"/>
                                <path d="M9.46661 11.4945C9.17917 11.7927 9.18793 12.2675 9.48618 12.5549C9.78443 12.8424 10.2592 12.8336 10.5467 12.5354L14.4304 8.50556C14.7178 8.20731 14.709 7.73252 14.4108 7.44508C14.1125 7.15764 13.6378 7.16641 13.3503 7.46466L9.46661 11.4945Z" fill="#494FC9"/>
                            </svg>                                                                               
                        </div>
                    </div>
                    <p id="dropdown-field__error-msg" class="error-msg">Please enter a valid postcode</p>
                </div>
            </div>
            <div class="carer-card-list__cards-list-header-tag  conditional-experience-field-selected-tag">
                <a href="#" class="filter-tag-text subtitle" data-state="active">
                    <span>Dementia care</span>
                    <svg aria-label="Graphics Symbol" role="graphics-symbol" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5531 3.44679L3.4469 12.553Z" fill="#EEEEEE"/>
                        <path d="M12.5531 3.44679L3.4469 12.553" stroke="#4248C7" stroke-width="1.7" stroke-linecap="round"/>
                        <path d="M3.4469 3.44678L12.5531 12.553" stroke="#4248C7" stroke-width="1.7" stroke-linecap="round"/>
                    </svg>
                </a>
                <a href="#" class="filter-tag-text subtitle" data-state="active">
                    <span>Stroke</span>
                    <svg aria-label="Graphics Symbol" role="graphics-symbol" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5531 3.44679L3.4469 12.553Z" fill="#EEEEEE"/>
                        <path d="M12.5531 3.44679L3.4469 12.553" stroke="#4248C7" stroke-width="1.7" stroke-linecap="round"/>
                        <path d="M3.4469 3.44678L12.5531 12.553" stroke="#4248C7" stroke-width="1.7" stroke-linecap="round"/>
                    </svg>
                </a>
                <a href="#" class="filter-tag-text subtitle" data-state="active">
                    <span>COPD</span>
                    <svg aria-label="Graphics Symbol" role="graphics-symbol" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5531 3.44679L3.4469 12.553Z" fill="#EEEEEE"/>
                        <path d="M12.5531 3.44679L3.4469 12.553" stroke="#4248C7" stroke-width="1.7" stroke-linecap="round"/>
                        <path d="M3.4469 3.44678L12.5531 12.553" stroke="#4248C7" stroke-width="1.7" stroke-linecap="round"/>
                    </svg>
                    
                </a>
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="../../js/script.js"></script>
</body>

</html>