
.content-area-right__services-section {
    background-color: $gray-100;
    display: flex;
    flex-direction: column;
    gap: 64px;
    .content-area-right__what-section-header {
        .content-area-right__what-section-header-body {
            gap: 20px;
            display: flex;
            flex-direction: column;
        }
    }
    .content-area-right__services-section-content {
        display: flex;
        flex-direction: column;
        @include breakpoint ($phone-only) {
            gap: 24px;
        }
        .content-area-right__services-section-content-header {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        .content-area-right__services-section-content-card {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 24px;
            @include breakpoint ($phone-only) {
                grid-template-columns: 1fr;
                gap: 16px;
            }
            .content-area-right__services-section-content-card-item {
                padding: 24px;
                gap: 16px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                background: $gray;
                border: 1px solid $gray-200;
                border-radius: 12px;
                @include breakpoint ($phone-only) {
                    padding: 12px;
                    gap: 12px;
                    background: transparent;
                }
                svg {
                    width: 20px;
                    min-width: 20px;
                    height: 20px;
                    display: block;
                }
                .services-section__content-card-text {
                    font-weight: 630;
                    @include breakpoint ($phone-only) {
                        font-weight: 520; 
                    }
                }
            }
            &.content-area-right__card-one-line{
                display: grid;
                grid-template-columns: 1fr;
                gap: 24px;
                @include breakpoint ($phone-only) {
                    grid-template-columns: 1fr;
                    gap: 16px;
                }
            }
        }
    }

    &.live-in-care-services-section {
        gap: 44px;
    }
    .content-area-ight-services-section__type-of-care-cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 24px;
        @include breakpoint ($phone-only) {
            grid-template-columns: 1fr;  
        }
        .content-area-ight-services-section__type-of-care-card-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 24px;
            background: $primary-50;
            gap: 44px;
            border: 1px solid $gray-300;
            border-radius: 12px;
            @include breakpoint ($phone-only) {
                flex-direction: row;
            }
        }
    }
    .content-area-ight-services-sub-section__type-of-care-cards {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 24px;
        @include breakpoint ($tablet-landscape) {
            grid-template-columns: repeat(2,1fr);  
        }
        @include breakpoint ($tablet-portrait) {
            grid-template-columns: repeat(2,1fr);  
        }
        @include breakpoint ($phone-only) {
            grid-template-columns: 1fr;  
            gap: 12px;
        }
        @include breakpoint ($small-landscape) {
            grid-template-columns: repeat(2,1fr);  
        }
        .content-area-ight-services-sub-section__type-of-care-card-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 24px 20px;
            gap: 44px;
            background: $primary-50;
            border: 1px solid $gray-300;
            border-radius: 12px;
            .content-area-ight-services-sub-section__type-of-care-card-item-text {
                display: flex;
                flex-direction: column;
                gap: 24px;
                span.heading-h5 {
                    padding: 0px 0px 12px;
                    border-bottom: 1px solid $primary-200;
                }
            }
        }
    }
    
}