#carer-for-your-requirememt {
    .carer-for-your-requirememt-wrapper {
        gap: 48px;
        padding-top: 64px;
        padding-bottom: 64px;
        @include breakpoint ($tablet-portrait) {
            padding-top: 0px;
            padding-bottom: 0px;
            gap: 32px;
        }
        @include breakpoint ($phone-only) {
            padding-top: 0px;
            padding-bottom: 0px;
            gap: 32px;
        }
        @include breakpoint ($small-landscape) {
            padding-top: 0px;
            padding-bottom: 0px;
            gap: 32px;
        }
        h1 {
            @include breakpoint ($tablet-portrait) {
                font-size: 28px;
            } 
        }
    }
    .carer-for-your-requirememt-items {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 16px;
        @include breakpoint ($phone-only) {
            grid-template-columns: 1fr;
        }
        @include breakpoint ($small-landscape) {
            grid-template-columns: repeat(2,1fr);
        }
        @include breakpoint ($tablet-portrait) {
            grid-template-columns: repeat(2,1fr);
        }
        .carer-for-your-requirememt-single-item {
            padding: 24px 12px;
            background: $gray-100;
            border: 1px solid $primary-200;
            border-radius: 12px;
            display: grid;
            grid-template-rows: 1fr auto;   
            gap: 12px;
            transition: all;
            transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition-duration: 100ms;
            @include breakpoint ($tablet-portrait) {
                gap: 16px;
            }
            &:hover {
                background-color: $primary-100;
                border: 1px solid $primary-200;
            }
            &:focus {
                background-color: $gray-100;
                box-shadow: 0px 0px 0px 2px $primary-200;
            }
            // &:visited {
            //     background-color: $primary-200;
            //     border: 1px solid $primary-200;
            // }

             .carer-for-your-requirememt-single-item-title {
                color: $primary-700;
                font-weight: 690;
                @include breakpoint ($phone-only) {
                    font-size: 17px;
                }
                @include breakpoint ($small-landscape) {
                    font-size: 17px;
                }
            }
            .carer-for-your-requirememt-single-item-body {
                display: flex;
                justify-content: space-between;
                gap: 16px;
                align-items: flex-end;

                .carer-for-your-requirememt-single-item-sub-text {
                    font-weight: 520;
                    font-size: 14px;
                    letter-spacing: 0.014em;
                    color: #707070;
                }
                .carer-for-your-requirememt-single-item-icon {
                    width: 24px;
                    height: 24px;
                    svg {
                        width: 24px;
                        height: 24px;
                        display: block;
                    }
                }
            }
        }
    }
}