#section-carers__main{
    .section-carers__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        @include breakpoint ($tablet-portrait) {
            display: flex;
        }
        @include breakpoint ($tablet-landscape) {
            display: flex;
            gap: 24px;
        }
        @include breakpoint($phone-only){
            display: grid;
            grid-template-rows: auto 1fr auto;
            gap: 24px;
        }
        @include breakpoint($small-landscape){
            display: flex;
            gap: 28px;
        }
        // @include breakpoint($small-landscape){
        //     gap: 24px;
        // }
        
        // @include breakpoint ($phone-only) {
        //     display: grid;
        //     grid-template-rows: auto 1fr auto;
        // }
        .carers-content__usps-content-title{
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
        
        .carers-item{
            background: $gray-100;
            border-color: $primary-200;
            border-style: solid;
            border-width: 2px;
            border-radius: 20px;
            padding: 32px 16px 24px 16px;
            display: grid;
            grid-template-rows: auto 1fr auto;
            gap:32px;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1px;
            position: relative;
            cursor: pointer;
            &:hover{
                background: $primary-100;
                border-color: $primary-200;
            }
            &:focus{
                background: $gray-100;
                border-color: $primary-300;
                box-shadow: none;
            }
            &:active{
                background: $primary-100;
                border-color: $primary-400;
            }
            .content__text{
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 630;
                font-size: 15px;
                line-height: 140%;
                letter-spacing: 0.014em;
                color: $gray-800;
            }
            .recommendations-carer-card__content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .carers-item__content{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            .recommendations__rating{
                display: flex;
                gap: 12px;
                padding: 6px 12px;
                align-items: center;
                justify-content: center;
                background-color: $secondary-200;
                border-radius: 12px;
                .recommendations__rating-text{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 630;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: 0.012em;
                    color: #35353F;
                }
            }
            .carers-item__client-text{
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 520;
                font-size: 12px;
                line-height: 140%;
                letter-spacing: 0.014em;
                color: $gray-600;
                .carers-item__client-name{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 630;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: 0.012em;
                    color: $gray-800;
                    .client-name__dark-text{
                        color: $gray-600;
                        font-weight: 630;
                    }
                }
                .carers-item__client-time{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 520;
                    font-size: 12px;
                    line-height: 140%;
                    letter-spacing: 0.014em;
                    color: $gray-600;
                }
            }
        }
        .carers-item__post{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px;
            gap: 16px;
            img{
                width: 64px;
                height:64px;
            }
            .carer-item__post-text{
                .carer-item__post-name{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 690;
                    font-size: 20px;
                    line-height: 140%;
                    letter-spacing: 0.012em;
                    color: $gray-900;
                    margin: 0;
                    padding: 0;
                }
                .carer-item__post-type{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 520;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: 0.014em;
                    color: $gray-600;
                    display: block;
                }
            }
            .carers-item__post-user-info{
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
        .without-border-btn{
            display: flex;
            border:0;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 690;
            font-size: 15px;
            line-height: 140%;
            letter-spacing: 0.014em;
            color: #35353F;
            cursor: pointer;
            margin: auto;
        }
        .testimonial-section__content{

            max-width: 100%;
            overflow: hidden;
            
            @include breakpoint ($tablet-portrait) {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            @include breakpoint ($tablet-landscape) {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            @include breakpoint($phone-only){
                display: flex;
                flex-direction: column;
                gap: 8px;
                /*flex-direction: column-reverse;*/
            }
            
            .owl-dots{
                @include breakpoint ($tablet-portrait) {
                    margin:28px 0 0 0;
                }
                @include breakpoint ($tablet-landscape) {
                    margin:0 0 28px 0;
                }
                @include breakpoint($phone-only){
                    margin:0 0 28px 0;
                }
            }
        }
    }
}