$primary-color: #056B69;
$primary-50 : #F5F5FB;
$primary-100 : #ECEDF9;
$primary-200 : #D7D8F3;
$primary-300 : #BEC0EC;
$primary-400 : #A2A5E4;
$primary-500 : #585DCD;
$primary-600 : #494FC9;
$primary-700 : #2F349D;
$primary-800 : #2B2F8F;

$active-submenu-mobile-nav : #F5F6FF;

$main-blue: #5C59EB;
$main-orange: #FB8065;

$gray : #ffffff ;
$gray-100: #FCFCFF;
$gray-200: #E0E1E6;
$gray-300: #E0E1E6;
$gray-400: #9FA0B0;
$gray-500: #8A8B9F;
$gray-600: #676779;
$gray-700: #494956;
$gray-800: #35353F;
$gray-900: #35353F;

$nav-hover: #EEEEEE;

$secondary-200: #EDF2EA;
$secondary-600: #488216;

$primary-500-new : #585DCD;


$carerside-200: #CDDFDA;
$carerside-300: #9BBFB6;
$carerside-400: #6A9F92;


$green: #ffffff;