#cost-calculator {
    &.content-area-right__updated-cost-calculator-section {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        .cost-calculator__main {
            display: grid;
            grid-auto-columns: 1fr 1fr 1fr;
            
            @include breakpoint($phone-only) {
                background-color: $primary-50;
            }
            @include breakpoint($small-landscape) {
                background-color: $primary-50;
                padding: 0px 24px;
            }
            .cost-calculator__left-content {
                border-radius: 0px 12px 12px 0px;
                overflow: hidden;
                grid-row: 1;
                grid-column: 3/4;
                @include breakpoint($tablet-portrait) {
                    display: none;
                }
                @include breakpoint($phone-only) {
                    display: none;
                }
                @include breakpoint($small-landscape) {
                    display: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .cost-calculator__right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 64px 32px;
                gap: 24px;
                background: #F5F5FB;
                border-radius: 12px 0px 0px 12px;
                max-width: 100%;
                grid-column: 1/3;

                @include breakpoint ($tablet-portrait) {
                    padding: 64px 56px;
                    flex: 0 0 100%;
                    max-width: 100%;
                    background: $primary-50;
                    border-radius: 0;
                }
                @include breakpoint ($tablet-landscape) {
                    padding: 64px 64px 64px 32px;
                }
                @include breakpoint ($phone-only) {
                    padding: 44px 20px;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                @include breakpoint ($small-landscape) {
                    padding: 44px 24px;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .cost-calculator__content-info-text {
                    color: $gray-600;
                }
                .cost-calculator__right-input-content-header {
                    gap: 16px;
                    display: flex;
                    flex-direction: column;
                    svg {
                        width: 48px;
                        height: 48px;
                        @include breakpoint ($tablet-landscape) {
                            width: 32px;
                            height: 32px;
                        }
                        @include breakpoint ($tablet-portrait) {
                            width: 32px;
                            height: 32px;
                        }
                        @include breakpoint($phone-only) {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
                .cost-calculator__right-title {
                    font-weight: 690;
                    color: $gray-800;
                    margin: 0;
                }
                .cost-calculator__right-input {
                    gap: 24px;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    @include breakpoint ($phone-only) {
                        gap: 16px;
                    }
                    span.cost-calculator__right-input-title {
                        font-weight: 520;
                        line-height: 1.4;
                        color: $gray-800;
                    }
                    .cost-calculator__input-content {
                        display: flex;
                        gap: 8px;
                        position: relative;
                        
                        @include breakpoint ($phone-only) {
                            flex-direction: column;
                            gap: 16px;
                        }
                        @include breakpoint ($tablet-landscape) {
                            flex-direction: column;
                            gap: 20px;
                        }
                        .calculate__cost {
                            @include breakpoint ($phone-only) {
                                width: 100%;
                            }
                        }
                        button {
                            white-space: nowrap;
                            @include breakpoint ($phone-only) {
                                width: 100%;
                            }
                        }
                    }
                    .field__wrapper {
                        border: 1px solid $gray-300;
                        box-shadow: 0px 1px 2px rgba(23, 25, 74, 0.05);
                        @include breakpoint ($phone-only) {
                            height: 53px;
                        }
                        &:hover {
                            border: 1px solid $primary-400;
                            box-shadow: 0px 0px 0px 1px $primary-200;
                        }
                        &:focus,
                        &:focus-within {
                            border: 1px solid $primary-400;
                            box-shadow: 0px 0px 0px 4px  $primary-200;
                        }
                    }
                }
                p.cost-calculator__input-info-text {
                    font-weight: 520;
                    font-size: 14px;
                    line-height: 1.4;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.014em;
                    color: $gray-600;
                }
                .cost-calculator__right-button {
                    button {
                        width: 100%;
                        font-weight: 520;
                        font-size: 14px;
                        line-height: 1.4;
                        letter-spacing: 0.014em;
                        padding: 13px 20px;
                    }
                }
    
                &.change-active {
                    border-radius: 12px 0px 0px 12px;
                    @include breakpoint($phone-only){
                        border-radius: 12px 12px 0px 0px ;
                    }
                }
            }
        }
    }
}