.content-area-right__faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $gray-100;
    h1 {
        text-align: left;
        width: 100%;
    }

    .content-area-right__faq-section-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        WIDTH: 100%;

        .cell-title-collapsed {
            border-bottom: 1px solid $gray-300;
            width: 100%;
        }
        .faq-main-item__trigger {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            gap: 24px;

            h2 {
                margin: 0;
                width: 100%;
                
                .faq-item__title {
                    font-style: normal;
                    font-weight: 690;
                    font-size: 17px;
                    line-height: 1.4;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.012em;
                    color: $gray-800;
                }
                button {
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    margin: 0;
                    background: transparent !important;
                    text-align: left;
                    gap: 24px;
                    padding: 20px 24px;
                    width: 100%;
                    outline: unset!important;
                    box-shadow: unset!important;

                    @include breakpoint ($tablet-portrait) {
                        padding: 20px 0 20px 0px;
                    }
                    @include breakpoint ($small-landscape) {
                        padding: 20px 0 20px 0px;
                    }

                    svg.open {
                        display: none;
                    }

                    svg.collpsed {
                        display: block;
                    }
                    @include breakpoint ($tablet-portrait) {
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        width: 100%;
                    }
                    @include breakpoint ($phone-only) {
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        width: 100%;
                        padding: 20px 0px;
                    }
                    @include breakpoint ($small-landscape) {
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        width: 100%;
                    }
                }
            }

            .faq-main-item-content {
                display: none;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px 0px 20px 68px;
                gap: 20px;
                color: $gray-600;
                font-weight: 520;
                font-size: 15px;
                line-height: 1.4;
                letter-spacing: 0.014em;
                p {
                    color: $gray-600;
                }
                @include breakpoint ($tablet-portrait) {
                    padding: 0px 0px 20px 0px;
                }
                @include breakpoint ($phone-only) {
                    padding: 0px 0px 20px 0px;
                }
                @include breakpoint ($small-landscape) {
                    padding: 0px 0px 20px 0px;
                }
            }

            &.active {
                button {
                    padding-bottom: 0;
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                    svg.open {
                        display: block;
                    }

                    svg.collpsed {
                        display: none;
                    }
                }

                .faq-main-item-content {
                    display: flex!important;
                }
            }

        }
    }
}