.content-area-right__find-n-hire-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 32px;
    gap: 64px;
    border-radius: 8px;
    @include breakpoint ($phone-only) {
        gap: 44px;
    }

    .content-area-right__find-n-hire-sub-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        .content-area-right__find-n-hire-sub-body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 20px;
        }
    }

    .content-area-right__find-n-hire-section-search {
        display: flex;
        gap: 24px;
        flex-direction: column;
        width: 100%;
        @include breakpoint ($phone-only) {
            gap: 16px;
        }
        
        form {
            display: flex;
            gap: 12px;
            max-width: 558px;

            .field__wrapper {
                border: 1.25px solid $primary-100;
                box-shadow: 2px 2px 3px 2px rgba(215, 224, 255, 0.35);
                @include breakpoint ($phone-only) {
                    height: 53px;
                }
                &:hover {
                    border: 1px solid $primary-400;
                    box-shadow: 0px 0px 0px 1px $primary-200;
                }
                &:focus,
                &:focus-within {
                    border: 1px solid $primary-400;
                    box-shadow: 0px 0px 0px 4px  $primary-200;
                }
                .location-icon {
                    width: 16px;
                    height: 16px;
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}