.content-area-body-right__how-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 8px;
    @include breakpoint ($tablet-portrait) {
        flex-direction: column-reverse;
    }
    @include breakpoint ($phone-only) {
        flex-direction: column-reverse;
    }
    .content-area-body-right__how-section-heading.element-hide-desk {
        order: 1;
    }

    .content-area-body-right__how-section-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        
        .content-area-body-right__how-section-info {
            gap: 32px;
            .heading-h1 {
                color: $gray-800;
            }
            .content-area-body-right__how-section-info-body {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 20px;
            }   
        }
    }
    .content-area-body-right__how-section-right {
        width: 291px;
        height: 268px;
        object-fit: cover;
        border-radius: 12px;
        @include breakpoint ($tablet-landscape) {
            width: 243px;
            height: 380px;
        }
        @include breakpoint ($tablet-portrait) {
            width: 100%;
            height: 242px;
        }
        @include breakpoint ($phone-only) {
            width: 100%;
            height: 242px;
        }
    }
    &.live-in-care__how-section {
        .content-area-body-right__how-section-right {
            width: 100%;
            height: 100%;
            @include breakpoint ($tablet-portrait) {
                height: 242px;
                width: 100%;
                object-fit: cover;
            }
            @include breakpoint ($phone-only) {
                height: 334px;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .content-area-body-right__24-hour-section-right {
        width: 322px;
        height: 450px;
        object-fit: cover;
        border-radius: 12px;
        @include breakpoint ($tablet-landscape) {
            width: 205px;
            height: 355px;
        }
        @include breakpoint ($tablet-portrait) {
            width: 100%;
            height: 242px;
        }
        @include breakpoint ($phone-only) {
            width: 100%;
            height: 242px;
        }
    }
    
}
    .overnight-how-section {
        flex-direction: column;
        gap: 64px;
        @include breakpoint ($phone-only) {
            gap: 24px;
        }
        .content-area-body-right__how-section-heading {
            &.element-hide-desk {
                order: initial;
                @include breakpoint ($tablet-portrait) {
                    display: none;
                }
            }
            &.element-hide-responsive {
                @include breakpoint ($tablet-portrait) {
                    display: block;
                }
            }
        }
        .content-area-body-right__how-section-left {
            display: flex;
            flex-direction: row;
            gap: 32px;
            @include breakpoint ($phone-only) {
                flex-direction: column-reverse;
            }
        }
        .content-area-body-right__how-section-right {
            width: 163px;
            height: 152px;
            object-fit: cover;
            @include breakpoint ($tablet-landscape) {
                width: 285px;
                height: 266px;
                object-fit: cover;
            }
            @include breakpoint ($phone-only) {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
        .content-area-body-right__how-sub-section {
            display: flex;
            flex-direction: column;
            .content-area-body-right__how-sub-section-header {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
            .content-area-body-right__how-sub-section-info-body {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 24px;
                @include breakpoint ($phone-only) {
                    grid-template-columns: 1fr;
                }
            }
        }
    }

.content-area-body-right__how-sub-info-card {
    padding: 32px;
    gap: 28px;
    background: $gray;
    border: 1px solid $primary-100;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint ($phone-only) {
        padding: 16px;

    }
    .content-area-body-right__how-sub-info-card-heading {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    .content-area-body-right__how-sub-info-card-text {
        font-weight: 520;
        font-size: 14px;    
        color: $gray-600;
    }
    .content-area-body-right__how-sub-info-body {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 318px;
    }
    .content-area-body-right__how-sub-info-card-points {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0px 16px;
        .how-sub-info-card-points-detail {
            display: flex;
            gap: 12px;
            .how-sub-info-card-points-text {
                color: $gray-800;
                font-weight: 520;
            }
        }
    }
    
}
