.content-area-right__how-to-pay-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include breakpoint ($phone-only) {
        gap: 24px;
    }

    .content-area-right__how-to-pay-section-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        .content-area-right__how-to-pay-section-sub-body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 20px;
        }
    }

    .content-area-right__how-to-pay-section-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
        @include breakpoint ($phone-only) {
            gap: 24px;
        }

        .content-area-right__how-to-pay-section-sub-body-points {
            display: flex;
            flex-direction: column;
            width: 100%;

            ol {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 24px;
                width: 100%;
                margin: 0px;

                @include breakpoint ($tablet-portrait) {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    li {
                        align-items: stretch;
                        height: 100%;
                    }
                }
                @include breakpoint ($small-landscape) {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    li {
                        align-items: stretch;
                        height: 100%;
                    }
                }

                li {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 20px 20px 20px 32px;
                    gap: 24px;
                    isolation: isolate;
                    width: 100%;
                    height: 100%;
                    /* Grays/White */

                    background: #FFFFFF;
                    border: 1px solid $primary-200;
                    border-radius: 12px;
                    position: relative;
                    @include breakpoint ($tablet-portrait) {
                        height: 100%;
                    }

                    .numbering__text {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 0px;
                        gap: 10px;
                        position: absolute;
                        width: 28px;
                        height: 28px;
                        left: -5.5px;
                        top: -7px;
                        background: $gray-100;
                        border: 1px solid $primary-600;
                        border-radius: 100px;
                    }
                    .link__text{
                        color: $gray-800;
                        text-decoration: underline;
                    }
                }
            }
            &.how-to-pay-section-multiple{
                ol{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    @include breakpoint ($tablet-portrait) {
                        grid-template-columns: repeat(3, 1fr);
                    }
                    @include breakpoint ($tablet-landscape) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    @include breakpoint($phone-only){
                        grid-template-columns: repeat(1, 1fr);
                    }
                }
            }
        }
    }

    .content-area-right__how-to-pay-section-3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        .faq-item__trigger {
            
            background: $primary-50;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            width: 100%;
            @include breakpoint ($phone-only) {
                gap: 16px;
            }

            h2 {
                font-weight: 690;
                font-size: 20px;
                line-height: 1.4;
                letter-spacing: 0.012em;
                color: $gray-800;
                margin: 0;
                padding: 0;
                width: 100%;

                button {
                    display: flex;
                    flex-direction: row;
                    padding: 32px 24px;
                    margin: 0;
                    background: transparent !important;
                    text-align: left;
                    gap: 24px;
                    align-items: center;
                    width: 100%;
                    outline: unset!important;
                    box-shadow: unset!important;

                    @include breakpoint ($phone-only) {
                        padding: 24px 12px;
                        flex-direction: row-reverse;
                    }
                    svg {
                        width: 32px;
                        height: 32px;
                    }
                    svg.open {
                        display: none;
                    }

                    svg.collpsed {
                        display: block;
                    }
                    span{
                        color: $gray-800;
                    }
                }
            }

            .faq-item-content {
                display: none;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px 24px 0px 80px;
                gap: 20px;
                @include breakpoint ($phone-only) {
                    padding: 0px 56px 0px 12px;
                }
            }
            .link__text{
                color: $gray-800;
                text-decoration: underline;
            }
            &.active {
                button {
                    padding-bottom: 0;

                    svg.open {
                        display: block;
                    }

                    svg.collpsed {
                        display: none;
                    }
                }

                .faq-item-content {
                    display: flex!important;
                }
            }

            &:last-child {
                .faq-item-content {
                    padding-bottom: 32px;
                }
            }

        }
    }

}