
.content-area-right__services-sub-section-content {
    display: flex;
    flex-direction: column;
    .services-sub-section-content__cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 44px;
        @include breakpoint ($phone-only) {
            grid-template-columns: 1fr;
            gap: 16px;
            margin-left: -20px;
            margin-right: -20px;
        }
        .services-sub-section-content__cards-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 36px;
            @include breakpoint ($phone-only) {
                flex-direction: row-reverse;
                padding: 12px 20px;
                gap: 12px;
                background: $primary-50;
                justify-content: space-between;
            }
            .services-sub-section-content__cards-item-img {
                width: 150px;
                height: 150px;
                background: $primary-50;
                border-radius: 24px;
                @include breakpoint ($phone-only) {
                    width: 100px;
                    height: 100px;
                }
                svg {
                    @include breakpoint ($phone-only) {
                        width: 100px;
                        height: 100px;
                    }  
                }
            }
            .services-sub-section-content__cards-item-text {
                text-align: center;
                @include breakpoint ($phone-only) {
                   text-align: left;
                }  
            }
        }
    }
}