
.content-area-right__what-section {
    background-color: $gray-100;
    display: flex;
    flex-direction: column;
    .content-area-right__what-section-header {
        .content-area-right__what-section-header-body {
            gap: 20px;
            display: flex;
            flex-direction: column;
        }
    }
    .content-area-right__what-section-content {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        @include breakpoint ($phone-only) {
            grid-template-columns: repeat(2,1fr);
        }
        .content-area-right__what-section-list-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 44px;
            height: 222px;
            padding: 44px 24px;
            width: auto;
            border-bottom: 1px solid $gray-200;
            border-right: 1px solid $gray-200;
            @include breakpoint ($phone-only) {
                min-height: 222px;
                height: auto;
            }
            transition: all 0.3s ease-in-out;
            *{
                transition: all 0.3s ease-in-out;
            }

            &:nth-child(3n) {
                border-right: 0px;
                @include breakpoint ($phone-only) {
                    border-right: 1px solid $gray-200; 
                }
            }
            &:nth-child(2n) {
                @include breakpoint ($phone-only) {
                    border-right: none; 
                }
            }
            
            &.border-bottom-transperant {
                border-bottom : 0px;
            }
            &:hover {
                border-color: $gray-200;
                box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);
                background-color: $primary-50;
                svg {
                    width: 48px;
                    min-height: 48px;
                }
                .content-area-right__what-section-list-card-text {
                    font-weight: 630;
                }
            }
            svg {
                width: 32px;
                min-height: 32px;
            }
            .content-area-right__what-section-list-card-text {
                color: $gray-800;
                text-align: center;
                font-weight: 520;
                font-size: 15px;
                line-height: 140%;
                letter-spacing: 0.014em;
            }
        }
    }
}