.search-address-autocomplete {
    .postcoder-complete-dropdown {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 8px 0px;
        background: white;
        box-shadow: 0px 4px 8px rgba(23, 25, 74, 0.05);

        header {
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
        }
    }
    .postcoder-complete-dropdown:before {
        display : none;
    }
    .postcoder-complete-dropdown ul{
        background: white;
    }
    .postcoder-complete-dropdown ul::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: rgba(0, 0, 0, 0.04);
        border-radius: 16px;
        opacity:1;
    }
    .postcoder-complete-dropdown ul::-webkit-scrollbar-thumb {
        background-color: #E5E5E5;
        border-radius: 16px;
    }

    .postcoder-complete-dropdown ul i.fa-search {
        display : none;
    }
    .postcoder-complete-dropdown ul li
    {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 0px;
        font-weight: 520 !important;
        font-size: 15px;
        line-height: 1.4;
        letter-spacing: 0.012em;
        color: #676779;
        cursor: pointer;
        width: 100% !important;
        gap: 10px;
        padding: 8px 16px!important;
        align-items: flex-start;
        flex-wrap: wrap;

        i.fa {
            display: none;
        }

        span {
            padding: 0 !important;
            display: inline-block!important;
        }
    }
    .postcoder-complete-dropdown ul li .count {
        font-weight: 520 !important;
        font-size: 15px;
    }

    .postcoder-complete-dropdown ul {
        width :100%;
    }
    .postcoder-complete-dropdown ul>li:hover,
    .postcoder-complete-dropdown ul>li[aria-selected="true"],
    .postcoder-complete-dropdown ul>li:hover mark,
    .postcoder-complete-dropdown ul>li[aria-selected="true"] mark,
    .postcoder-complete-dropdown ul>li:hover .location,
    .postcoder-complete-dropdown ul>li[aria-selected="true"] .location,
    .postcoder-complete-dropdown ul>li:hover .count,
    .postcoder-complete-dropdown ul>li[aria-selected="true"] .count {
        background-color: #ECEDF9 !important;
        color: #2B2F8F !important;
        font-weight: 690 !important;
    }
}