button {
    font-family: inherit;

    @include smooth-transition(200ms);
}
.btn {
    cursor: default;
    @include smooth-transition(200ms);
    
}

.ghost-btn {
    font-size: 15px;
    font-weight: 630;
    line-height: 1.4;
    text-align: left;
    color: $primary-600;
    text-decoration: underline;

    &:hover {
        color : $primary-700;
        svg {
            path {
                stroke: $primary-700;
            }
        }
    }
    &:focus {
        color : $primary-700;
        svg {
            path {
                stroke: $primary-700;
            }
        }
    }
    &:disabled {
        color : $primary-400;
        svg {
            path {
                stroke: $primary-400;
            }
        }
    }
}

.ghost{
    background-color: transparent;
    color : $primary-600;
    border: none;

    &:hover {
        background-color: $primary-100;
    }

    &:active {
        background-color: $primary-200;
    }


    
}

body .filled{
    background-color: $primary-600 ;
    color: white;
    padding: 16px 20px;
    border: 0px none;

    &:hover {
        background-color: $primary-700;
    }

    &:active {
        background-color: $primary-800;
    }
    &.disabled {
        background-color: $primary-400;
        border-color: $primary-400 !important;
    }
}
.line-btn{
    background-color: transparent;
    border: 1px solid $primary-400 !important;
    color: $primary-600;
    text-decoration: none;
    text-align: center;

    &:hover {
        background-color: $primary-100;
        color: $primary-600;
    }

    &:focus {
        
        background-color: transparent;
    }

    &:active {
        background-color: $primary-100;
    }
}
.line-gray-btn {
    background-color: transparent;
    border: 1px solid $grays-300;
    color: $grays-800;
    cursor: pointer;
    &:disabled {
        background-color: $grays-300;
        color: $grays-400 !important;
    }
    &:hover {
        background-color: $grays-300;
        color: $grays-900;
    }

    &:focus {
        outline: 4px solid $nav-hover;
        background-color: transparent;
    }

    &:active {
        background-color: $grays-300;
        outline: 4px solid $nav-hover;
    }
}
.circle-button {
    width: max-content;
    height: max-content;
    padding: 8px;
    background: $grays-200;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        ~ .tooltip {
            display: flex;
        }
    }
}
.send-circle-btn {
    padding: 16px;
    background-color: $primary-600;
    border-radius: 52px;
    max-width: 52px;
    max-height: 52px;
    border: none;
    outline: 0;
    &:disabled {
        background-color: $primary-400;
    }
    &:hover {
        background-color: $primary-700;
    }
    &:visited {
        background-color: $primary-800;
        box-shadow: 0px 0px 0px 4px #D7D8F3;
    }
    &:focus {
        background-color: $primary-600;
        box-shadow: 0px 0px 0px 4px #D7D8F3;
    }
    &:active {
        background-color: $primary-600;
    }
    
}
.destructive-btn {
    padding: 15px 20px 16px;
    background: $negatives-600;
    font-weight: 690;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.014em;
    color: $grays;
    text-decoration: none;
    white-space: nowrap;
    box-shadow: 0px 4px 8px rgba(23, 25, 74, 0.05);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background: $negatives-700;
    }
    &:focus {
        background: $negatives-600;
        box-shadow: 0px 0px 0px 4px #FEC8CB;
    }
    &:disabled {
        background: $negatives-300;
    }

}
.danger-btn{
    background-color: transparent;
    border: 1px solid $negatives-200 !important;
    color: $negatives-600;
    text-decoration: none;
    text-align: center;

    &:hover {
        background-color: $negatives-100;
        color: $negatives-700;
    }

    &:focus {
        background-color: transparent;
    }

    &:active {
        background-color: $negatives-200;
        border-color: $negatives-300;
    }
}
.tooltip__circle-button {
    display: grid;
    justify-items: end;
    position: relative;
    height: max-content;
    @include breakpoint ($phone-only) {
        position: absolute;
        right: 16px;
    }
    .tooltip {
        position: absolute;
        white-space: nowrap;
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
        display: flex;
        transform: translateY(10px);
        display: none;
        border-radius: 4px;
        &[data-position="bottom"] {
            top: 100%;
            right: 0;
        }
        &[data-position="top"] {
            bottom: 100%;
            right: 0;
            transform: translateY(-10px);
            .tooltip__leading::before {
                top: 100%;
            }
        }
        &[data-position="left"] {
            top: 0;
            right: 100%;
            transform: translatex(-10px);
            .tooltip__leading::before {
                left: calc(100% - 5px);
                top: 0;
                bottom: 0;
            }
        }
        &[data-position="right"] {
            top: 0;
            left: 100%;
            flex-direction: row-reverse;  
            transform: translatex(10px);
            .tooltip__leading {
                border-radius: 4px 0px 0px 4px;
                &:before {
                    right: calc(100% - 5px);
                    top: 0;
                    bottom: 0;
                    left: auto;
                }
            }          
        }
        .tooltip__message {
            background: $grays;
            border-radius: 0px;
            padding: 10px 16px;
            border-radius: 4px 0 0 4px;
        }
        .tooltip__leading {
            padding: 8px 12px;
            background: $primary-600;
            border-radius: 0px;
            text-align: center;
            line-height: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            vertical-align: middle;
            width: auto;
            position: relative;
            border-radius: 0 4px 4px 0;
            &::before {
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                background: $primary-600;
                transform: rotate(45deg);
                right: 1px;
                bottom: calc(100% - 5px);
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}

#backBtn, #backBtn2{
    display: flex;
    padding: 16px 20px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    @include breakpoint($phone-only){
        display: none;
    }
    svg{
        width: 20px;
        height: 20px;
        align-items: center;
    }
}

.action-buttons{
    padding-top: 36px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &.single-btn {
        a#nextBtn {
            width: 100%;
        }
    }
}
.disabledbtn{
    background: $primary-400!important;
    pointer-events: none;
}

.radiobtn{
    .radio-label{
        border-radius: 12px;
        gap: 0;
        p{
            color: $grays-600;
            display: flex;
            gap: 12px;
            align-items: center;
            position: relative;
        }
        input{
            opacity: 0;
            height: 0;
            width: 0;
            line-height: 0;
            font-size: 0;
        }
    }
    label > input[type="radio"] + *::before {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        width: 24px;
        height: 24px;
        border: 1px solid $grays-300;
        filter: drop-shadow(0px 1px 2px $box-shadow-color);
        border-radius: 30px;
        box-sizing: border-box;
    }
    label > input[type="radio"]:hover + *::before{
        border: 1px solid $primary-400;
        box-shadow: 0px 0px 0px 1px $primary-200;
    }
    label > input[type="radio"]:focus + *::before{
        border: 1px solid $primary-400;
        outline: 2px solid $box-shadow-color;
    }
    label > input[type="radio"]:disabled + *::before{
        background-color: $grays-300;
    }
    label > input[type="radio"]:checked + *::before{
        border-color: $primary-600;
    }
    label > input[type="radio"]:checked:hover + *::before{
        border-color: $primary-800;
    }
    label > input[type="radio"]:checked:focus + *::before{
        box-shadow: 0px 0px 0px 4px $primary-200;
        outline: 4px solid $primary-200;
    }
    label > input[type="radio"]:checked:disabled + *::before{
        opacity: 0.5;
    }
    label > input[type="radio"]:checked + *::after{
        content: "";
        display: inline-block;
        vertical-align: bottom;
        width: 22px;
        height: 22px;
        border: 5px solid $grays ;
        filter: drop-shadow(0px 1px 2px $box-shadow-color);
        background-color: $primary-600;
        border-radius: 30px;
        box-sizing: border-box;
        position: absolute;
        left: 1px;
    }
    label > input[type="radio"]:checked:hover + *::after{
        background-color: $primary-800;
    }
    label > input[type="radio"]:checked:disabled + *::after{
        opacity: 0.5;
    }
    .empty-field{
        input{
            background-color: transparent;
            position: absolute;
        }
        &:focus{
            border: 1px solid $primary-400;
            outline: 4px solid $primary-200;
        }
        &:disabled{
            background-color: $grays-200;
        }
        &:active{
            border: 1px solid $primary-400;
            outline: 1px solid $primary-200;
            background-color: $primary-50;
        }
    }
}


.radio-group-wrapper {
    
    border: 1px solid $grays-300;
    background-color: $grays;
    box-shadow: 0px 1px 2px $box-shadow-color;
    border-radius: 12px;
    overflow: hidden;

    .radio-fieldset-header{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 12px;
        padding: 12px;
        border-bottom: 1px solid $grays-300;


        svg {
            width: 16px;
            height: 16px;
            &.hoverstate {
                display: none;
            }
        }
        span {
            font-weight: 630;
            font-size: 15px;
            line-height: 1.4;
            color: $grays-600;
            cursor: default;
        }
    }

    fieldset {
        display: flex;
        flex-direction: row;
        align-items: center;
        outline: none;
        border: none;

        label {
            border: none;
            border-radius: 0;
            box-shadow: none;

            &:hover {
                border: none;
                border-radius: 0;
                box-shadow: none;
            }

            &:focus {
                box-shadow: none;
            }
            
            &.active {
                border: none;
                border-radius: 0;
                box-shadow: none;
                background-color: transparent;

                &:hover {
                    border: none;
                    border-radius: 0;
                    box-shadow: none;
                }
            }

            p.regular-font {
                gap: 12px;

                span {
                    padding: 0;
                }
            }
        }

    }

    &:hover {
        border: 1px solid $primary-400;
        box-shadow: 0px 0px 0px 1px $primary-200;
    }

    &.active {
        border-color: $primary-400;

        .radio-fieldset-header {
            background-color: $primary-500;
            border-color: $primary-400;

            span {
                color: $primary-600;
            }

            svg {
                &.normalstate {
                    display: none;
                }
    
                &.hoverstate {
                    display: block;
                }
            }
        }
    }

}
.button-grp {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0px;
    gap: 16px;
}