
$primary-50:  #F5F5FB;
$primary-100: #ECEDF9 ;
$primary-200 : #D7D8F3;
$primary-300 : #BEC0EC;
$primary-400: #A2A5E4;
$primary-500 : #F5F5FB;
$primary-500-new : #585DCD;
$primary-600: #494FC9;
$primary-700: #2F349D;
$primary-800: #2B2F8F;
$primary-900: #262B82;

$secondary-100 : #FCFEFB;
$secondary-200 : #EDF2EA;
$secondary-600 : #488216;
$secondary-700 : #3C6C12;


$grays : #ffffff;
$grays-100: #FCFCFF;
$grays-200 : #E0E1E6;
$grays-300 : #E0E1E6;
$grays-400 : #9FA0B0;
$grays-500 : #8A8B9F;
$grays-600 : #676779;
$grays-700 : #494956;
$grays-800 : #35353F;
$grays-900 : #35353F;

$negatives : #FC7A81;
$negatives-100 : #FBF4F4;
$negatives-200 : #FEE4E6;
$negatives-300 : #FEC8CB;
$negatives-600 : #E90510;
$negatives-700 : #C4040E;
$nav-hover: #EEEEEE;
$active-submenu-mobile-nav : #F5F6FF;


$box-shadow-color: rgba(23, 25, 74, 0.05);
