
#daysweek {
    .form__main{
        padding: 44px 16px 16px;
        .form__body.help-needed {
            display: flex;
            flex-direction: column;
            align-self: start;

            @include breakpoint($phone-only) {
                gap: 32px;
            }
            
            .form-check {
                display: inline-flex;
                align-items: center;
                max-width: 335px;
                height: auto;
                @include breakpoint($phone-only) {
                    width: 100%;
                    max-width: 100%;
                }
                
            }
        }
    }

}

.days-week {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px auto;
    gap: 16px;
    border: 0px none;
    padding: 0;

    @include breakpoint($phone-only) {
        gap: 4px;
        grid-template-columns: repeat(7,1fr);
    }

    .form-check {
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0px!important;
        border: 0px none !important;
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 8px;
        outline: 0;
        box-shadow: unset !important;

        &:hover .day__item-title {
            border: 1px solid $primary-400;
        }
        &:hover .day__item-text {
            color: $primary-700;
        }
        &:focus .day__item-title,
        &:focus-within .day__item-title {
            outline: 4px solid $primary-200;
        }
        &:focus .day__item-text,
        &:focus-within .day__item-text{
            color: $primary-800;
        }

        &.active {
            background: transparent!important;
            box-shadow: unset!important;
            border: 0px none!important;
            outline: 0;

            &:hover .day__item-title{
                background: $primary-600;
            }
            &:hover .day__item-text {
                color: $primary-800;
            }
            &:focus .day__item-title,
            &:focus-within .day__item-title{
                background: $primary-600;
                outline: 4px solid $primary-200;
            }
            &:focus .day__item-text,
            &:focus-within .day__item-text{
                color: $primary-800;
            }
            
            .day__item-title.regular-font {
                color: #FFFFFF;
                background-color: $primary-600;
                
            }
            .day__item-text {
                color: $primary-600;
            }
        }
    }

    .day__item {
        grid-template-columns: 1fr!important;
        gap: 8px!important;

        &:before {
            display: none!important;
        }
        
        .day__item-title{
            font-style: normal;
            font-weight: 640;
            font-size: 15px;
            line-height: 100%;
            display: flex;
            align-items: center;
            color: #212121;
            width: 40px;
            height: 40px;
            background: $grays;
            border: 1px solid $grays-300;
            box-shadow: 0px 1px 2px $box-shadow-color;
            border-radius: 30px;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        .day__item-text {
            font-weight: 640;
            font-size: 14px;
            line-height: 1.4;
            display: flex;
            align-items: center;
            color: $grays-600;
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
}