
::placeholder {
    font-weight: 560;
    font-size: 15px;
    line-height: 1.4;
    color: $grays-400;
}

.input[type="text"] {
    font-family: inherit !important;
    border: none;
    box-shadow: unset;
    outline: 0;

    &:hover {
        border: none;
        box-shadow: unset;
        outline: 0;
    }
    &:focus {
        border: none;
        box-shadow: unset;
        outline: 0;
    }
    &:disabled {
        background-color: $grays-200;
        border: none;
        box-shadow: unset;
        outline: 0;
        
        &::placeholder {
            color: $grays-400;
        }
    }
}



input[type="text"], input[type="number"] {
    font-family: inherit;
    @include smooth-transition(200ms);
    &:hover {
        border: 1px solid $primary-400 ;
        box-shadow: 0px 0px 0px 1px $primary-200;
    }

    &:focus {
        box-shadow: 0px 0px 0px 4px $primary-200;
    }

    &.error {
        &:focus {
            box-shadow: 0px 0px 0px 4px $negatives-200;
        }
    }
    

    &::placeholder {
        font-size: 15px;
        font-weight: 560;
        line-height: 1.4;
        color: $grays-400;
    }

    // & + p {
    //     display: block;
    // }
    
}
textarea {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 520;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.014em;
    color: $grays-900;
    outline: 0;
    &:hover {
        border: 1px solid $primary-400 !important;
        box-shadow: 0px 0px 0px 1px $primary-400 !important;
    }

    &:focus {
        box-shadow: 0px 0px 0px 4px $primary-200 !important;

    }

    &.error {
        &:focus {
            box-shadow: 0px 0px 0px 4px $negatives-200 !important;
        }
    }
    // &:focus-visible {
    //     outline: 0;
    // }

}

.btn {
    padding: 15px 20px;
    gap: 8px;
    border-radius: 12px;
    font-weight: 690;
    font-size: 15px;
    line-height: 1.4;
    color: $grays;
    border: none;
    width: 100%;
    appearance: button;
    /***background: #494FC9;***/
}
.primary-button {
    background: $primary-600;
    outline: 0;

    &:visited {
        @extend .primary-button;
    }
     
    &:disabled {
        background: $primary-400;
        color: $grays;
        pointer-events: none;
    }

    &:hover {
        background: $primary-700;
    }

    &:focus {
        background: $primary-600;
        box-shadow: 0px 0px 0px 4px $primary-200;
    }

    &:active {
        background: $primary-600;
        box-shadow: 0px 4px 8px $box-shadow-color;
    }

    
}

input[type="number"]{
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }
}
.input-field__text {
    border: 1px solid $grays-300;
    box-shadow: 0px 1px 2px $box-shadow-color;
    border-radius: 12px;
}

input {
    &.error {
        border: 1px solid $negatives !important;
    }
}

.input__field-group {
    display: flex;
    align-items: center;
    width: 100%;

    &>:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .prefix-text {
        display: flex;
        padding: 15px 16px;
        gap: 12px;
        background: $grays-200;
        border: 1px solid $grays-300;
        border-radius: 12px 0px 0px 12px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 520;
        font-size: 15px;
        line-height: 1.4;
        color: $grays-600;
    }
}

.input__field-wrapper.reducepadding.other__input {
    display: flex;
    padding: 0px;
    gap: 0px;
    border: 1px solid $grays-300;
    box-shadow: 0px 1px 2px $box-shadow-color;
    border-radius: 12px;
    outline: 0;
    transition: all;
    position: relative;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-duration: 200ms;
    span {
        padding: 14px 12px;
        gap: 16px;
        // border-radius: 12px;
        display: grid;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: $grays-600;

        &.dropdown-close {
            padding: 13px 12px;
        }
        &.prefix-text {
            background-color: $grays-300;
        }

        &.prefix-img{
            .hoverstate{
                display: none;
            }
        }

    }
    button.prefix-img {
        background-color: transparent;
        border: none;
        padding: 14px 12px;
        gap: 16px;
        // border-radius: 12px;
        display: grid;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: $grays-600;

        &.dropdown-close {
            padding: 13px 12px;
        }
        &.prefix-text {
            background-color: $grays-300;
        }

        &.prefix-img{
            .hoverstate{
                display: none;
            }
        }
    }
    input {
        width: 100%;
        border: none;
        background-color: transparent;
        padding-left: 0;
    }

    &:focus,
    &:focus-within {
        box-shadow: 0px 0px 0px 4px $primary-200;
        
        border: 1px solid $primary-400;
        input{
            box-shadow: unset;
            border: 0px none;
        }

        span {
            &.prefix-img{
                .hoverstate{
                    display: block;
                }
                .normalstate{
                    display: none;
                }
            }
        }
    }

    &:hover {
        border: 1px solid $primary-400;
        input{
            box-shadow: unset;
            border: 0px none;
        }

        span {
            &.prefix-img{
                .hoverstate{
                    display: block;
                }
                .normalstate{
                    display: none;
                }
            }
        }
    }
    
}

main .action-buttons {
    display: flex;
    // align-self: start;
}

.input__field-wrapper label{
    display: flex;
    padding: 0px;
    gap: 0px;
    overflow: hidden;
    border: 1px solid $grays-300;
    box-shadow: 0px 1px 2px $box-shadow-color;
    border-radius: 12px;
    outline: 0;

    @include smooth-transition(200ms);

    &.reducepadding{
        .prefix-img{
            padding: 14px 16px;
        }
    }
    &.other__input {
        input {
            padding-left: 0;
        }
    }
    &.other__input:focus,
    &.other__input:focus-within {
        background: $primary-50;
        border: 1px solid $primary-400;
        box-shadow: 0px 0px 0px 4px $primary-200;
        input {
            color: $primary-600;
            background: transparent;
            box-shadow: unset;
        }
    }
    &:hover {
        border: 1px solid $primary-400;
        box-shadow: 0px 0px 0px 1px $primary-200;
        span.prefix-text {
            background: $primary-100;
        }
        span.prefix-img {
            .normalstate {
                display: none;
            }
            .hoverstate {
                display: block;
            }
        }
    }
    &:focus,
    &.focus-enabled-wrapper:focus-within {
        border-color: $primary-400;
        box-shadow: 0px 0px 0px 4px $primary-200;
        span.prefix-text {
            background: $primary-100;
        }
        span.prefix-img {
            .normalstate {
                display: none;
            }
            .hoverstate {
                display: block;
            }
        }

        input, label {
            &:focus {
                border: none;
                box-shadow: none;
            }
        }
    }
    &:disabled {
        background-color: $grays-300;
        color: $grays-900;
        input{
            background-color: $grays-200;
        }
        span.prefix-img {
            .normalstate {
                display: block;
            }
            .hoverstate {
                display: none;
            }
        }
        
        &::placeholder {
            color: $grays-400;
        }
    }

    span {
        padding: 15px 16px;
        gap: 16px;
        // border-radius: 12px;
        display: grid;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: $grays-600;

        &.prefix-text {
            background-color: $grays-300;
        }

        &.prefix-img{
            .hoverstate{
                display: none;
            }
        }

    }
    input {
        width: 100%;
        border: none;
        background-color: $grays;
        outline: 0;
    }
}



@include breakpoint($phone-only) {
    .hidebackbtn{
        display: none;
    }
    main {
        .medium-center-sec-padding-new {
            .action-buttons {
                padding: 12px 20px 16px;
            }
        }

        .action-buttons {
            display: flex;
            flex-direction: column;
            padding: 12px 20px 16px;
            gap: 16px;

            .next-btn {
                flex: 1;

                svg {
                    display: none;
                }
            }
        }

    }
}

input:-webkit-autofill {
    border-radius: 12px;
}
input:autofill {
    border-radius: 12px;
}
.input-field-group-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .field-grp {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }
}