@import '../custom-components/breakpoint/_custom-breakpoint.scss';

body {
    .menu-header {
        .navigation {
            @include breakpoint ($tablet-portrait){
                gap: 8px;
            }
            .navbar-toggler {
                @include breakpoint ($tablet-portrait){
                    display: block;
                }
            }
            .nav-logo {
                @include breakpoint ($tablet-portrait) {
                    flex: 1 1 0;
                }
                svg {
                    @include breakpoint ($tablet-portrait) {
                        height: 100%;
                        display: block;
                    }
                }
            }
            div.mobile-menu, div.mobile-submenu {
                @include breakpoint ($tablet-portrait) {
                    display: block;
                }
            }
        }
    }
}
.menu-header { 
    padding: 0 0.8vw;
    border-bottom: 1px solid $grays-300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: auto;
    background-color: $grays;
    z-index: 99;
    @include breakpoint ($phone-only){
        z-index: 99999999;
    }
    a{
        text-decoration: none;
    }
    nav {
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 100%;
        z-index: 1;
        // max-width: $query-maxwidth-large;

        .btn, button{
            padding: 15px 20px;
            border-radius: 12px;
        
            font-size: 15px;
            line-height: 1.4;
            font-weight: 690;
            font-family: 'Manrope';
        
            gap: 8px;
            width: fit-content;
        
            border: 0px solid transparent;
        
            @include smooth-transition(100ms);
        
            &:focus {
                box-shadow: 0 0 0 4px $primary-200;
                outline: 0;
            }
            cursor: default;
            
        }
    
        @include breakpoint ($large-desktop) {
            padding-left: 0;
            padding-right: 0;
            max-width: $query-maxwidth-large;
        }
    
        
    
        @include breakpoint ($phone-only){
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            padding: 8px 16px;
            height: 56px;
        }
        .nav-logo{

            @include breakpoint ($phone-only){
                flex: 1;
                height: 28px;
            }
        }
    
        ul.navigation-links{
            @include breakpoint ($phone-only){
                display: none;
            }
        }
        
        button.navbar-toggler{
            background: transparent;
            border: 0px none;
            padding: 0;
            height: 24px;
    
            @include breakpoint ($not-phone){
                display: none;
            }
            
        }
    
        
        >svg {
            width: 97px;
            height: 27px;
    
            @include breakpoint ($phone-only){
                width: auto;
                height: auto;
            }
        }
    
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            height: 100%;
    
            
            li.navigation-link {
                display: flex;
                flex-direction: column;
                height: 100%;
    
                &[data-state = "opening"]{
                    > a{
                        color: $primary-600;
                        font-weight: 690;
                    }
                    svg path{
                        fill: $primary-600;
                    }
                }
    
                @include breakpoint($tablet-portrait) {
                    display: none;
                }
                @include breakpoint($phone-only) {
                    display: none;
                }
    
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 16px;
    
                    height: 100%;
                    text-decoration: none;
    
                    font-size: 15px;
                    line-height: 1.4;
    
                    color: $grays-600;
                    font-weight: 630;
                    gap: $gap-extrasmall;
                    
                }
    
            }
    
            li.has-child {
                position: relative;
                &:hover{
                    .dropdown__detail{
                        display: grid;
                        
                    }
                }
                .dropdown__detail{
                    display: none;
                    position: fixed;
                    top: 80px;
                    width: 760px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    padding-inline-start: 0px;
                    grid-template-columns: 320px auto;
                    background: $grays-100;
                    border-right: 1px solid $grays-300;    
                    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 12px;
                    min-height: 476px;  
                    z-index: 9;
    
                    .tab-content{
                        .tab-pane{
                            display: none;
    
                            &.active{
                                display: block;
                            }
                        }
                    }
    
                    .condition-specific__links{
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 32px 20px;
                        gap: 8px;
    
                        li{
                            padding: 12px 24px;
                            text-align: left;
                            width: 100%;
    
                            &:hover{
                                background: $nav-hover;
                                span.hovervisible {
                                    display: block;
                                }
                            }
    
                            p{
                                display: flex;
                                flex-direction: column;
                                gap: 4px;
                            }
    
                            .active{
                                color: $primary-600;
                            }
    
                            a {
                                flex-direction: column;
                                text-align: left!important;
                                align-items: flex-start;
                                will-change: height;
    
                                @include smooth-transition(100ms);
    
                                span.hovervisible {
                                    display: none;
                                    align-self: flex-start;
                                }
    
                            }
                        }
    
    
                    }
    
                    p{
                        font-weight: 690;
                        color: $grays-800;
                        text-align: left;
                       
                    }
                    span{
                        font-weight: 520;
                        font-size: 12px;
                        line-height: 1.4;
                    }
                    .nav-submenu{
                        padding: 20px 16px;
                        gap: 32px;
                        display: grid;
                        grid-auto-rows: min-content;
    
                        a{
                            padding: 15px 20px;
                            gap: 8px;
                            border: 1px solid $primary-400;
                            border-radius: 12px;
                            color: $primary-600;
                            width: 100%;
    
                            span{
                                font-size: 15px;
                            }
                        }
                    }
                    
                    button{
                        background-color: transparent;
                        border: none;
                        text-align: left;
                        padding: 12px 24px;
                        gap: 4px;
                        display: grid;
                        width: 100%;
                        text-align: left;
                        cursor: pointer;
                    }
                    button.active{
                        background: $primary-100;
                        border-radius: 12px;
                        border: none;
                        
                    }
                }
            }
        }
        .navigation-buttons{
            display: flex;
            align-items: center;
            gap: 16px;
            height: 100%;
            position: relative;
            .nav-button{
                line-height: 5px;

                &.lineheightfull {
                    line-height: initial;
                }
            }
            @include breakpoint ($phone-only){
                height: 100%;
                .nav-button.filled.btn{
                    display: none;
                }
            }
        }
        @include breakpoint($not-phone){
            div.mobile-menu, div.mobile-submenu {
                display: none;
            }
        }
        @include breakpoint($phone-only){
            // gap: 12px;
            .mobile-menu{
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100vh;
                background-color: $grays;
                
                button {
                    background: transparent;
                    border: 0px none;
                    padding: 0;
                    height: 24px;
                }
            }
            
            .mobile-submenu{
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100vh;
                background-color: $grays;
    
                button.navbar-close-toggler {
                    background: transparent;
                    border: 0px none;
                    padding: 0;
                    height: 24px;
                }
    
                .login-button{
                    font-family: Manrope;
                    font-size: 15px;
                    font-weight: 690;
                    line-height: 22px;
                    letter-spacing: 0px;
                    color:$grays-600


                }
    
                .back-btn{
                    gap:4px
                }
            }
            .top-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 16px 24px;
                gap: 16px;
    
                height: 56px;
            }
            .login-btn {
                display: flex;
                gap: 16px;
            }
            a.login-button {
                font-size: 15px;
                font-weight: 690;
            }
            .mobile__main-content {
                height: calc(92vh - 56px);
                padding: 0px 0px 8px;
                gap: 8px;
            }
            ul.mobile__nav-links {
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 24px 16px 16px 16px;
                gap: 16px;
                margin: 0;
            }
            li.mobile__nav-link{
                width: 100%;
                flex-direction: row;
                align-items: center;
                padding: 16px;
                gap: 16px;
                border-radius: 12px;
            }
            a.mobile__navigation-link, a.mobile__navigation-link-submenu, .mobile__navigation-link-submenu-none{
                display: flex;
                gap: 16px;
                position: relative;
            }
            .mobile__navigation-text {
                gap: 8px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
            }
            .mobile__navigation-icon-wrapper{
                padding-top: 5px;
            }
            .mobile__nav-text{
                font-size: 17px;
                font-weight: 690;
                line-height: 1.4;
                color: $grays-600;
            }
            .mobile__nav-helper-text{
                font-size: 14px;
                font-weight: 630;
                line-height: 1.4;
                letter-spacing: 0.014em;
                color: $grays-600;
            }
    
            .mobile__nav-link{
                .mobile__navigation-link-submenu{
                    .mobile__navigation-text{
                        justify-content: center;
                    }
                }
                .mobile__nav-links-inner{
                    display: none;
                    .mobile__nav-link-list{
                        display: grid;
                        background: $active-submenu-mobile-nav;
                        padding: 0;
    
                        li.mobile__nav-link-item {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 16px 16px 16px 52px;
                            gap: 16px;
    
                            a {
                                font-size: 15px;
                                line-height: 1.4;
                                color: $grays-600;
                                font-weight: 630;
                            }
                        }
                    }
                    .mobile__nav-links-inner{
                        display: none;
                    }
                    
                }
                &.active{
                    .mobile__navigation-link{
                        background: $primary-100;
                    }
                    .mobile__navigation-link-submenu{
                        background: $primary-100;
                        .mobile__nav-text{
                            color: $primary-600;
                        }
                        .mobile__navigation-arrow{
                            transform: rotate(180deg) translateY(20px);
    
                            path{
                                fill: $primary-600;
                            }
                        }
                        .mobile__navigation-icon-wrapper {
                            path.hoverrule{
                                fill: $primary-600;
                            }
                            path.hoverstrokerule{
                                stroke: $primary-600;
                            }
                        }
                    }
                    .mobile__nav-links-inner{
                        display: block;
                    }
                }
            }
            .mobile__navigation-arrow {
                position: absolute;
                left: 95%;
                top: 50%;
                transform: translateY(-50%);
            }
            .mobile__footer-content {
                padding: 16px 0;
                margin: 0 24px;
                border-top: 0.1px solid $grays-300;
            }
            ul.mobile__footer-links {
                margin: 0;
                display: flex;
                list-style: none;
                flex-direction: initial;
                padding: 0;
                width: 100%;
            }
            li.footer__navigation-link {
                display: flex;
                width: 50%;
                justify-content: center;
            }
            .footer__navigation-item {
                display: flex;
                gap: 10px;
            }
            .footer__helper-text{
                font-size: 14px;
                font-weight: 520;
                line-height: 18px;
                letter-spacing: 0.014em;
                color: $grays-600 ;
            }
            .submenu__header {
                text-align: center;
                border-bottom: 1px solid $grays-300;
                padding: 8px 0;
                p {
                    font-size: 18px;
                    font-weight: 690;
                    line-height: 25px;
                    color: $grays-700;
                }
            }
            .submenu__content{
                display: flex;
                flex-direction: column;
                padding: 16px;
                gap: 24px;
    
                ul.mobile__nav-links {
                    padding: 0px;
                    gap: 8px;
    
                    li.mobile__nav-link{
                        padding: 0;
                        overflow: hidden;
    
                        a.mobile__navigation-link-submenu {
                            padding: 16px;
                            gap: 16px;
    
                            .mobile__navigation-arrow {
                                position: absolute;
                                left: 90%;
                            }
                        }
                    }
                }
    
                a.mobile__navigation-link-submenu-none {
                    padding: 16px;
                    gap: 16px;
                    .mobile__navigation-arrow{
                        display: none;
                    }
                }
            }
            .submenu-btn{
                width: 100%;
            }
        }
        @include breakpoint($tablet-portrait){
            // gap: 12px;
            .mobile-menu{
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100vh;
                background-color: $grays;
                
                button {
                    background: transparent;
                    border: 0px none;
                    padding: 0;
                    height: 24px;
                }
            }
            
            .mobile-submenu{
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100vh;
                background-color: $grays;
    
                button.navbar-close-toggler {
                    background: transparent;
                    border: 0px none;
                    padding: 0;
                    height: 24px;
                }
    
                .login-button{
                    font-family: Manrope;
                    font-size: 15px;
                    font-weight: 690;
                    line-height: 22px;
                    letter-spacing: 0px;
                    color:$grays-600


                }
    
                .back-btn{
                    gap:4px
                }
            }
            .top-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 16px 24px;
                gap: 16px;
    
                height: 56px;
            }
            .login-btn {
                display: flex;
                gap: 16px;
            }
            a.login-button {
                font-size: 15px;
                font-weight: 690;
            }
            .mobile__main-content {
                height: calc(92vh - 56px);
                padding: 0px 0px 8px;
                gap: 8px;
            }
            ul.mobile__nav-links {
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 24px 16px 16px 16px;
                gap: 16px;
                margin: 0;
            }
            li.mobile__nav-link{
                width: 100%;
                flex-direction: row;
                align-items: center;
                padding: 16px;
                gap: 16px;
                border-radius: 12px;
            }
            a.mobile__navigation-link, a.mobile__navigation-link-submenu, .mobile__navigation-link-submenu-none{
                display: flex;
                gap: 16px;
                position: relative;
            }
            .mobile__navigation-text {
                gap: 8px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
            }
            .mobile__navigation-icon-wrapper{
                padding-top: 5px;
            }
            .mobile__nav-text{
                font-size: 17px;
                font-weight: 690;
                line-height: 1.4;
                color: $grays-600;
            }
            .mobile__nav-helper-text{
                font-size: 14px;
                font-weight: 630;
                line-height: 1.4;
                letter-spacing: 0.014em;
                color: $grays-600;
            }
    
            .mobile__nav-link{
                .mobile__navigation-link-submenu{
                    .mobile__navigation-text{
                        justify-content: center;
                    }
                }
                .mobile__nav-links-inner{
                    display: none;
                    .mobile__nav-link-list{
                        display: grid;
                        background: $active-submenu-mobile-nav;
                        padding: 0;
    
                        li.mobile__nav-link-item {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 16px 16px 16px 52px;
                            gap: 16px;
    
                            a {
                                font-size: 15px;
                                line-height: 1.4;
                                color: $grays-600;
                                font-weight: 630;
                            }
                        }
                    }
                    .mobile__nav-links-inner{
                        display: none;
                    }
                    
                }
                &.active{
                    .mobile__navigation-link{
                        background: $primary-100;
                    }
                    .mobile__navigation-link-submenu{
                        background: $primary-100;
                        .mobile__nav-text{
                            color: $primary-600;
                        }
                        .mobile__navigation-arrow{
                            transform: rotate(180deg) translateY(20px);
    
                            path{
                                fill: $primary-600;
                            }
                        }
                        .mobile__navigation-icon-wrapper {
                            path.hoverrule{
                                fill: $primary-600;
                            }
                            path.hoverstrokerule{
                                stroke: $primary-600;
                            }
                        }
                    }
                    .mobile__nav-links-inner{
                        display: block;
                    }
                }
            }
            .mobile__navigation-arrow {
                position: absolute;
                left: 95%;
                top: 50%;
                transform: translateY(-50%);
            }
            .mobile__footer-content {
                padding: 16px 0;
                margin: 0 24px;
                border-top: 0.1px solid $grays-300;
            }
            ul.mobile__footer-links {
                margin: 0;
                display: flex;
                list-style: none;
                flex-direction: initial;
                padding: 0;
                width: 100%;
            }
            li.footer__navigation-link {
                display: flex;
                width: 50%;
                justify-content: center;
            }
            .footer__navigation-item {
                display: flex;
                gap: 10px;
            }
            .footer__helper-text{
                font-size: 14px;
                font-weight: 520;
                line-height: 18px;
                letter-spacing: 0.014em;
                color: $grays-600 ;
            }
            .submenu__header {
                text-align: center;
                border-bottom: 1px solid $grays-300;
                padding: 8px 0;
                p {
                    font-size: 18px;
                    font-weight: 690;
                    line-height: 25px;
                    color: $grays-700;
                }
            }
            .submenu__content{
                display: flex;
                flex-direction: column;
                padding: 16px;
                gap: 24px;
    
                ul.mobile__nav-links {
                    padding: 0px;
                    gap: 8px;
    
                    li.mobile__nav-link{
                        padding: 0;
                        overflow: hidden;
    
                        a.mobile__navigation-link-submenu {
                            padding: 16px;
                            gap: 16px;
    
                            .mobile__navigation-arrow {
                                position: absolute;
                                left: 90%;
                            }
                        }
                    }
                }
    
                a.mobile__navigation-link-submenu-none {
                    padding: 16px;
                    gap: 16px;
                    .mobile__navigation-arrow{
                        display: none;
                    }
                }
            }
            .submenu-btn{
                width: 100%;
            }
        }
    }
    &.new-usersignup-header {
        .profile-btn {
            cursor: pointer;
            .up-arrow {
                display: none;
            }
            &.show {
                .up-arrow {
                    display: block;
                }  
                .down-arrow {
                    display: none; 
                }
            }
            svg {
                height: 18px;
                width: 18px;
                min-height: 18px;
                min-width: 18px;
            }
        }
        ul.navigation-links {
            li.navigation-link {
                &.active {
                    a {
                        color: $primary-600;
                    }
                }
                a{
                    font-size: 15px;
                    font-weight: 690;
                    outline: 0;
                    letter-spacing: 0.014em;
                    line-height: 1.4;
                    &:hover {
                        background: $primary-50;
                        color: $primary-500-new;
                    }
                    // &:visited {
                    //     background: $primary-100;
                    //     color: $primary-800;
                    // }
                    &:focus {
                        background-color: $grays;
                        box-shadow: 0 0 0 4px $primary-300 inset;
                    }
                    
                }
                &.has-child {
                    .up-arrow {
                        display: none;
                    }
                    svg {
                        height: 18px;
                        width: 18px;
                        min-height: 18px;
                        min-width: 18px;
                    }
                    .primary__sub-menu {
                        display: none;
                        position: absolute;
                        top: 81px;
                        width: 250px;
                        flex-direction: column;
                        height: auto;
                        align-items: flex-start;
                        padding: 8px 0px;
                        background: $grays;
                        border: 1px solid #E4E4E4;
                        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
                        border-radius: 12px;
                        .primary-menu-link {
                            width: 100%;
                            a {
                                padding: 16px;
                                gap: 12px;
                                width: 100%;
                                color: $grays-700;
                                display: grid;
                                grid-template-columns: auto 1fr;
                                outline: 0;
                                font-weight: 520;
                                
                                &[data-state="message-counter"] {
                                    grid-template-columns: auto 1fr auto;
                                }

                                svg {
                                    width: 20px;
                                    height: 20px;
                                }
                                &:hover {
                                    background-color: $primary-50;
                                    color: $primary-800;
                                    border-radius: 12px;
                                    .primary-nav-link {
                                        display: none;
                                    }
                                    .primary-nav-active-link {
                                        display: block;
                                    }
                                }
                                &:focus {
                                    background-color: $grays-100;
                                    color: $primary-800;
                                    border-radius: 12px;
                                    box-shadow: 0 0 0 4px $primary-400 inset;
                                }
                                &:active {
                                    background-color: $primary-200;
                                    color: $primary-800;
                                    border-radius: 12px;
                                }
                            }
                            .primary__nav-text {
                                white-space: nowrap;
                            }
                        }
                        .primary-nav-active-link {
                            display: none;

                        }
                    }
                    &:hover {
                        .primary__sub-menu {
                            display: flex;
                        }
                        .down-arrow {
                            display: none;
                        }
                        .up-arrow {
                            display: block;
                        }
                    }
                }
                
            }
        }
        padding: 0px;
        .desktop-logo {
            @include breakpoint($phone-only) {
                display: none;
            }
        }
        .mob-menu {
            display: none;

            @include breakpoint($phone-only) {
                display: block;
                font-weight: 690;
                font-size: 17px;
                line-height: 1.4;
                color: $grays-900;
                text-align: center;
                letter-spacing: 0.012em;
            }
        }
        .navigation-buttons {
            a {
                @include breakpoint($phone-only) {
                    padding: 0px;
                }   
            }
        }
        ul.profile-menu {
            display: none;
            flex-wrap: wrap;
            position: absolute;
            top: 80px;
            height: auto;
            background-color: $grays;
            border: 1px solid #E4E4E4;
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
            border-radius: 12px;
            padding: 8px 0px;
            width: 292px;
            right: 0;
            .active-link {
                display: none;
            }
            &.show {
                display: flex;
            }
            li.profile-menu-list {
                display: block;
                width: 100%;
                a {
                    display: grid;
                    padding: 16px;
                    gap: 12px;
                    grid-template-columns: auto 1fr;
                    font-weight: 520;
                    font-size: 15px;
                    line-height: 1.4;
                    letter-spacing: 0.014em;
                    color: $grays-700;
                    outline: 0;
                    &:hover {
                        color: $primary-600;
                        background-color: $primary-50;
                        border-radius: 12px;
                        .active-link {
                            display: block;
                        }
                        .normal-link {
                            display: none;
                        }
                    }
                    &:focus {
                        background-color: $grays-100;
                        box-shadow: 0 0 0 4px $primary-300 inset;
                        border-radius: 12px;
                    }
                    &:active {
                        background-color: $primary-100;
                        color: $primary-800;
                        border-radius: 12px;
                    }
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        .navbar-close-toggler {
            @include breakpoint ($phone-only) {
                display: flex;
                align-items: center;
            }
        }
        .top-section {
            @include breakpoint ($phone-only) { 
                padding: 24px;
                height: auto;
                border-bottom: 1px solid $grays-200;
            }
            
        }
        .mobile__main-content {
            display: grid;
            grid-template-rows: 1fr auto;
            padding: 24px 16px 16px;
            gap: 16px;
            height: calc(100vh - 75px);
            
        .submenu-btn {
            padding: 15px 20px;
            gap: 8px;
            display: flex;
            height: 52px;
            justify-content: center;
            align-items: center;
        }
        .mobile-menu__footer-item-content {
            display: flex;
            justify-content: center;
            gap: 16px;
            width: 100%;
            span {
                font-weight: 520;
                font-size: 14px;
                line-height: 1.4;
                letter-spacing: 0.014em;
                color: $grays-600;
                display: flex;
                align-items: center;
            }
        }
        }
        .mobile-menu,
        .mobile-submenu {
            z-index: 99;
        }
        .mobile-submenu {
            .login-btn.back-btn {
                a {
                    display: flex;
                    align-items: center;
                }
            }
            h2.top-section__content-title {
                font-weight: 690;
                font-size: 17px;
                line-height: 1.4;
                color: #676779;
                letter-spacing: 0.012em;
            }
            .submenu__content {
                padding: 24px 16px 16px;
            }
        }
        .mobile__nav-links {
            padding: 0px;
            gap: 8px;
            .mobile__nav-link {
             padding: 0px;
             svg{
                width: 20px;
                height: 20px;
             }
             a{
                padding: 16px;
                display: grid;
                gap: 16px;
                grid-template-columns: auto 1fr;
                p.mobile__nav-text {
                    font-weight: 630;
                    font-size: 15px;
                    line-height: 1.4;
                    letter-spacing: 0.014em;
                    color: $grays-700;
                    gap: 16px;
                    display: flex;

                    span.badge {
                        width: auto;
                        display: inline-block;
                        line-height: 1;
                    }
                }
                span.mobile__nav-helper-text {
                    font-weight: 630;
                    font-size: 14px;
                    line-height: 1.4;
                    letter-spacing: 0.014em;
                    color: $grays-700;
                }
                .mob-nav-active-link {
                    display: none;
                }
                &:hover {
                    background-color: $primary-500 ;
                    border-radius: 12px;
                    .mob-nav-link {
                        display: none;
                    }
                    .mob-nav-active-link {
                        display: block;
                    
                    }
                    .mobile__navigation-text {
                        p {
                            color: $primary-600;
                        }
                    }
                }
                &:active {
                    background-color: $primary-100 ; 
                    border-radius: 12px;
                    .mob-nav-link {
                        display: none;
                    }
                    .mob-nav-active-link {
                        display: block;
                    
                    }
                    .mobile__navigation-text {
                        p {
                            color: $primary-600;
                        }
                    }
                }
               /* &:focus {
                    background: rgba(255, 255, 255, 0.0001);
                    box-shadow: 0px 0px 0px 4px $primary-200;
                    border-radius: 12px;
                } */
            }
        }
     }
    }
}

.notification-button {
    position: relative;
}
.badge {
    width: 18px;
    height: 18px;
    display: flex;
    position: absolute;
    top: 0;
    right: auto;
    left: 39px;
    background-color: $primary-600;
    border-radius: 50px;
    color: $grays;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 520;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.014em;
    align-items: center;
    justify-content: center;

    @include breakpoint ($phone-only){
        display: none;
    }

}
.profile-btn{
    display: flex;
    align-items: center;
    @include breakpoint ($phone-only){
        display: none;
    }

    img {
        width: 44px;
        height: 44px;
        object-fit: contain;
        border-radius: 8px;
    }
}
a {
    &[data-state="message-counter"] {
        span.badge {
            position: unset;
            height: 20px;
            width: auto;
            background-color: $primary-600;
            border-radius: 50px;
            color: $grays;
            text-align: center;
            font-family: "Manrope";
            font-style: normal;
            font-weight: 560;
            font-size: 13px;
            line-height: 1.4;
            letter-spacing: 0.014em;
            align-items: center;
            justify-content: center;
            padding: 4px 8px;
            gap: 4px;
            
        }
    }
    &:hover {
        span.badge {
            background-color: $primary-500-new;
        }
    }
    &:active {
        span.badge {
            background-color: $primary-800;
        }
    }
}

.nav-link-list {
    .progress-bar {
        &.desktop-only {
            @include breakpoint ($phone-only) {
                display: none;
            }
        }
        &.mobile-only {
            display: none;
            @include breakpoint ($phone-only) {
                display: flex;
            }
        }
    } 
}



