section#blog-section{
    padding-bottom: 124px;
    @include breakpoint($phone-only){
        padding-bottom: 80px;
    }
    .blog-section-wrapper {
        display: grid;
    }
    .blog-section__contents {
        display: grid;
        grid-template-rows: 1fr auto;
    }
    .blog-section__contents-items{
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;

        @include breakpoint(599px $tablet) {
            grid-template-columns: 1fr 1fr ;
        }

        @include breakpoint($phone-only){
            grid-template-columns: 1fr ;
            gap: 44px;
        }
        @include breakpoint ($tablet-portrait) {
            grid-template-columns: 1fr;
            gap: 44px;
            a:nth-child(n+3){
                display: none;
            }
        }
        @include breakpoint ($tablet-landscape) {
            grid-template-columns: repeat(2,1fr);
            gap: 24px;
            a:nth-child(n+3){
                display: none;
            }
        }
        .blog{
            display: flex;
            flex-direction: column;
            border-radius: 12px;
            overflow: hidden;
            
            &:active,
            &:visited {
                .blog-content {
                    background-color: $primary-200;
                }
            }
            &:hover {
                .blog-content {
                    background-color: $primary-100;
                }
            }
            &:focus {
                box-shadow:0px 0px 0px 4px $primary-400;
                outline: 0;
                -webkit-appearance: none;

                .blog-content {
                    background-color: $grey-100;

                }
            }

            @include smooth-transition(200ms);

            &:nth-child(n+3){
                @include breakpoint($phone-only){
                    display: none;
                }
            }
            img{
                width: 100%;
                object-position: top;
                height: 215.84px;
                width: auto;
                object-fit: cover;
            }
            .blog-content{
                display: grid;
                padding: 24px;
                gap: 13px;
                flex: 1;
                .blog-content__header{
                    display: none;
                    justify-content: space-between;

                    .blog-content-tag{
                        // display: none;
                        padding: 6px 14px;
                        gap: 12px;
                        border: 1px solid $primary-600;
                        border-radius: 50px;
                        color: $primary-600;
                        display: flex;
                    }
                }
                .title-color{
                    font-size: 20px;
                    font-weight: $font-760;
                    line-height: 140%;
                    @include breakpoint ($phone-only) {
                        font-size: 17px;
                    }
                }
            }
            .blog-content{
                border-width: 0px 1px 1px 1px;
                border-style: solid;
                border-color: $grey-300;
                border-radius: 0 0 12px 12px;
                grid-auto-rows: 1fr auto;
                p{
                    font-size: 14px;
                    font-weight: 640;
                    line-height: 140%;
                }
            }
            .blog-content__footer{
                display: flex;
                align-items: center;
                gap: 9px;
                p{
                    color: $grey-400;
                }
                @include breakpoint(599px $tablet) {
                    flex-wrap: wrap;
                }
            }

            &:hover {
                background-color: $primary-100;
            }
            &:focus {
                background-color: $primary-100;
            }
        }
    }
}