$primary-color: #056B69;
$primary-50 : #F5F5FB;
$primary-100 : #ECEDF9;
$primary-200 : #D7D8F3;
$primary-300 : #BEC0EC;
$primary-400 : #A2A5E4;
$primary-500 : #585DCD;
$primary-600 : #494FC9;
$primary-700 : #2F349D;
$primary-800 : #2B2F8F;

$active-submenu-mobile-nav : #F5F6FF;

$main-blue: #5C59EB;
$main-orange: #FB8065;

$grey-100: #ffffff;
$grey-200: #f4f4f4;
$grey-300: #E5E5E5;
$grey-400: #9E9E9E;
$grey-500: #bfbfbf;
$grey-600: #616161;
$grey-700: #595959;
$grey-800: #424242;
$grey-900: #212121;

$nav-hover: #EEEEEE;

$secondary-200: #EDF2EA;
$secondary-600: #488216;

$primary-500-new : #585DCD;


$carerside-200: #CDDFDA;
$carerside-300: #9BBFB6;
$carerside-400: #6A9F92;


$green: #ffffff;