@import '_helpers.scss';

$primary-color: #056B69;

$btn-color : $primary-600;

.btn, button{
    padding: 15px 20px;
    border-radius: 12px;

    font-size: 16px;
    line-height: 140%;
    font-weight: $font-760;
    font-family: $font-family-name;

    gap: 8px;
    width: fit-content;

    border: 0px solid transparent;

    @include smooth-transition(100ms);

    &:focus {
        box-shadow: 0 0 0 4px $primary-200;
        outline: 0;
    }
    cursor: default;
    
}
.ghost{
    background-color: transparent;
    color : $primary-600;
    border: none;

    &:hover {
        background-color: $primary-100;
    }

    &:active {
        background-color: $primary-200;
    }


    
}
.filled{
    background-color: $primary-600 ;
    color: white;

    &:hover {
        background-color: $primary-700;
    }

    &:active {
        background-color: $primary-800;
    }
}

.round {
    border-radius: 100%;
    padding: 13px 16px;
    display: flex;
    align-items: center;
    background-color: $primary-600 ;
    color: white;

    &:hover {
        background-color: $primary-700;
    }

    &:active {
        background-color: $primary-800;
    }
}

.light-gray-btn {
    background-color: $grey-100;
    color: $primary-600;
    &:hover {
        background-color: $primary-50;
    }
    &:focus {
        background-color: $grey-100;
        box-shadow: 0px 0px 0px 4px #EEEEEE;
    }
}

.line-btn{
    background-color: transparent;
    border: 1px solid $primary-400;
    color: $primary-600;

    &:hover {
        background-color: $primary-100;

        color: $primary-600;
    }

    &:focus {
        
        background-color: transparent;
    }

    &:active {
        background-color: $primary-100;
    }
}

input[type="submit"] {
    height: 40px;
    padding: 0 30px;
    line-height: 1;
    border-radius: 2px;
    outline: none;
    border: none;
    // color: #19315A;
    font-size: 14px;
    // text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    text-align: center;

    background-color: $btn-color;
    color: white;
    // cursor: pointer;

    i {
        // margin-top: 2px;
        // margin-left: 2px;
        line-height: 15px;
        color: white;
        margin: 0;
        font-size: 20px;
        margin-right: 4px;
    }
}

.verticals-button {
    background-color: white;
    color: material-color('grey', '800');
    height: 64px ;
    margin-top: 20px;
    // font-family: $Campton;
    box-shadow: 0 4px 30px rgba(0,0,0,0.15);
    padding-left: 24px;
    border-left: 4px solid material-color('amber', '500');

    i {
        color: material-color('amber', '700');
        font-size: 28px;
        margin-left: 12px;
    }

    &:hover {
        background-color: white;
        color: material-color('grey', '800');
        box-shadow: 0 10px 60px rgba(0,0,0,0.15);
    }
}

.circular-btn {
    height: 42px;
    width: 42px;
    padding: 0;
    border-radius: 100px;

    i {
        transform: rotateZ(90deg);
        margin-left: 0;
    }
}

a.cta-btn {
    height: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    border-radius: 2px;

    svg {
        margin-right: 6px;
    }

}

#green-card-section {
    padding-top: 10px;
}