.how-section__content {
    display: grid;
}
.how-section__content-content-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px 24px;

    @include breakpoint($phone-only){
        grid-template-columns: 1fr;
        gap: 44px;
    }
}
.how-it-works-element{
    display: grid;
    align-items: start;
    align-content: start;

    .how-it-works-element__step-title{
        display: flex;
        align-items: center;
        gap: 16px;

        .number{
            padding: 10px 12px;
            gap: 10px;
            background: $primary-600;
            border-radius: 100px;
            font-weight: 760;
            font-size: 34px;
            line-height: 140%;
            color: $grey-100;
            width: 68px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            @include breakpoint($tablet-portrait){
                width: 42px;
                padding: 10px;
                gap: 10px;
                font-size: 16px;
            }

            @include breakpoint($phone-only){
                width: 42px;
                padding: 10px;
                gap: 10px;
                font-size: 16px;
            }
        }
        h2{
            @include breakpoint($phone-only){
                font-size: 20px;
            } 
            @include breakpoint($tablet-portrait){
                font-size: 20px;
            }
        }
        @include breakpoint($phone-only){
            padding: 0px;
            gap: 12px;
        }
       
    }
    .how-it-works-element__step-description{
        padding: 0px 0px 0px 84px;
        color: $grey-600;
        font-size: 17px;
        font-weight: $font-560;
        line-height: 140%;

        @include breakpoint($tablet-portrait){
            padding: 0px 0px 0px 60px;
            font-size: 16px;
        }

        @include breakpoint($phone-only){
            padding: 0px 0px 0px 52px;
            font-size: 16px;
        }

    }
}