section#testimonial-section {
    .testimonial-item {
        display: grid;
        grid-template-rows: auto 1fr;
        width: 100%;
        padding: 36px 24px 20px;
        gap: 16px;
        border-radius: 12px;
        background: $grey-100;
        box-sizing: border-box;
        margin: 0;
        height: 100%;
    
        @include breakpoint($phone-only){
            height: initial; 
        } 
    
        .recommendation-cards-grid__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            gap: 12px;
            position: relative;
    
            img {
                width: 60px;
                height: 60px;
                border: 1px solid $grey-100;
                filter: drop-shadow(0px 1px 2px rgba(23, 25, 74, 0.05));
                border-radius: 8px;
            }
            svg {
                position: absolute;
                width: 36px;
                left: 0px;
                top: -19px;
            }
            h4 {
                font-weight: 690;
                font-size: 20px;
                line-height: 1.4;
                text-align: center;
                letter-spacing: 0.012em;
                color: $grey-700;
                margin: 0;
                padding: 0;
            }
        }
    
        .recommendation-cards-grid__body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 12px;
            gap: 12px;
            background: $primary-50;
            border-radius: 12px;
    
            p {
                font-weight: 630;
                font-size: 15px;
                line-height: 1.4;
                letter-spacing: 0.014em;
                color: $grey-900;
                margin: 0;
                padding: 0;
            }
    
            .reviewer-name {
                font-weight: 520;
                font-size: 14px;
                line-height: 1.4;
                width: 100%;
                text-align: center;
                letter-spacing: 0.014em;
                color: $grey-900;
            }
    
            .review-date {
                font-weight: 520;
                font-size: 12px;
                line-height: 1.4;
                width: 100%;
                text-align: center;
                letter-spacing: 0.014em;
                color: $grey-900;
            }
        }
        
    }
}

section#section-carers__main{
    .section-carers__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        @include breakpoint ($tablet-portrait) {
            display: flex;
        }
        @include breakpoint ($tablet-landscape) {
            display: flex;
            gap: 24px;
        }
        @include breakpoint($phone-only){
            display: flex;
            gap: 24px;
        }
        @include breakpoint($small-landscape){
            display: flex;
            gap: 28px;
        }
        .carers-content__usps-content-title{
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
        .carers-item{
            background: $grey-100;
            border-color: $primary-200;
            border-style: solid;
            border-width: 2px;
            border-radius: 20px;
            padding: 32px 16px 24px 16px;
            display: grid;
            grid-template-rows: auto 1fr auto;
            gap:32px;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 2px;
            position: relative;
            cursor: pointer;
            &:hover{
                background: $primary-100;
                border-color: $primary-200;
            }
            &:focus{
                background: $grey-100;
                border-color: $primary-300;
                box-shadow: none;
            }
            &:active{
                background: $primary-100;
                border-color: $primary-400;
            }
            
            
            .content__text{
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 630;
                font-size: 15px;
                line-height: 140%;
                letter-spacing: 0.014em;
                color: $grey-800;
            }
            .recommendations-carer-card__content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
            }
        }
        .carers-item__content{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            .recommendations__rating{
                display: flex;
                gap: 12px;
                padding: 6px 12px;
                align-items: center;
                justify-content: center;
                background-color: $secondary-200;
                border-radius: 12px;
                .recommendations__rating-text{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 630;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: 0.012em;
                    color: #35353F;
                }
            }
            .carers-item__client-text{
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 520;
                font-size: 12px;
                line-height: 140%;
                letter-spacing: 0.014em;
                color: $grey-600;
                .carers-item__client-name{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 630;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: 0.012em;
                    color: $grey-800;
                    .client-name__dark-text{
                        color: $grey-600;
                        font-weight: 630;
                    }
                }
                .carers-item__client-time{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 520;
                    font-size: 12px;
                    line-height: 140%;
                    letter-spacing: 0.014em;
                    color: $grey-600;
                }
            }
        }
        .carers-item__post{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px;
            gap: 16px;
            img{
                width: 64px;
                height:64px;
            }
            .carer-item__post-text{
                .carer-item__post-name{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 690;
                    font-size: 20px;
                    line-height: 140%;
                    letter-spacing: 0.012em;
                    color: $grey-900;
                }
                .carer-item__post-type{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 520;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: 0.014em;
                    color: $grey-600;
                    display: block;
                }
            }
            .carers-item__post-user-info{
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
        .without-border-btn{
            display: flex;
            border:0;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 690;
            font-size: 15px;
            line-height: 140%;
            letter-spacing: 0.014em;
            color: #35353F;
            cursor: pointer;
        }
        .testimonial-section__content{
            @include breakpoint ($tablet-portrait) {
                display: flex;
                flex-direction: column;
            }
            @include breakpoint ($tablet-landscape) {
                display: flex;
                flex-direction: column-reverse;
            }
            @include breakpoint($phone-only){
                display: flex;
                flex-direction: column-reverse;
            }
            
            .owl-dots{
                @include breakpoint ($tablet-portrait) {
                    margin:28px 0 0 0;
                }
                @include breakpoint ($tablet-landscape) {
                    margin:0 0 28px 0;
                }
                @include breakpoint($phone-only){
                    margin:0 0 28px 0;
                }
            }
        }
    }
}
