.progress {
  width: 234px;
  height: 234px;
  line-height: 234px;
  background: none;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 5px solid #CFD8DC;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #494FC9;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 117px;
  border-bottom-right-radius: 117px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 117px;
  border-bottom-left-radius: 117px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress span.progress-value-text {
  font-weight: 630;
  font-size: 11px;
  line-height: 1.4;
  color: #494FC9;
  letter-spacing: 0.014em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* This for loop creates the 	necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress[data-percentage="10"] .progress-right .progress-bar {
  -webkit-animation: loading-1 1s linear forwards;
          animation: loading-1 1s linear forwards;
}

.progress[data-percentage="10"] .progress-left .progress-bar {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
  -webkit-animation: loading-2 1s linear forwards;
          animation: loading-2 1s linear forwards;
}

.progress[data-percentage="20"] .progress-left .progress-bar {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
  -webkit-animation: loading-3 1s linear forwards;
          animation: loading-3 1s linear forwards;
}

.progress[data-percentage="30"] .progress-left .progress-bar {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
  -webkit-animation: loading-4 1s linear forwards;
          animation: loading-4 1s linear forwards;
}

.progress[data-percentage="40"] .progress-left .progress-bar {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1s linear forwards;
          animation: loading-5 1s linear forwards;
}

.progress[data-percentage="50"] .progress-left .progress-bar {
  -webkit-animation: 0;
          animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1s linear forwards;
          animation: loading-5 1s linear forwards;
}

.progress[data-percentage="60"] .progress-left .progress-bar {
  -webkit-animation: loading-1 1s linear forwards 1s;
          animation: loading-1 1s linear forwards 1s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1s linear forwards;
          animation: loading-5 1s linear forwards;
}

.progress[data-percentage="70"] .progress-left .progress-bar {
  -webkit-animation: loading-2 1s linear forwards 1s;
          animation: loading-2 1s linear forwards 1s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1s linear forwards;
          animation: loading-5 1s linear forwards;
}

.progress[data-percentage="80"] .progress-left .progress-bar {
  -webkit-animation: loading-3 1s linear forwards 1s;
          animation: loading-3 1s linear forwards 1s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1s linear forwards;
          animation: loading-5 1s linear forwards;
}

.progress[data-percentage="90"] .progress-left .progress-bar {
  -webkit-animation: loading-4 1s linear forwards 1s;
          animation: loading-4 1s linear forwards 1s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1s linear forwards;
          animation: loading-5 1s linear forwards;
}

.progress[data-percentage="100"] .progress-left .progress-bar {
  -webkit-animation: loading-5 1s linear forwards 1s;
          animation: loading-5 1s linear forwards 1s;
}

@-webkit-keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}

@-webkit-keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}

@-webkit-keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}

@-webkit-keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}

@-webkit-keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}

.progress-bar__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  padding: 16px;
  border-bottom: 1px solid #E5E5E5;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-bar__wrapper .progress__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.progress-bar__wrapper .progress__title-wrapper .progress__title {
  font-weight: 690;
  color: #424242;
}

.progress-bar__wrapper .progress__title-wrapper .progress__subtitle {
  color: #616161;
}

.application-card__match-section {
  padding: 16px;
  display: -ms-grid;
  display: grid;
  gap: 16px;
  border-bottom: 1px solid #E0E1E6;
}

.application-card__match-section .progress-bar__wrapper {
  padding: 0px;
  border-bottom: none;
}

.application-card__match-section .application-card__match-section-info {
  padding: 16px 0px 0px;
  border-top: 1px solid #E5E5E5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.application-card__match-section .application-card__match-section-info span.application-card__match-info-text {
  color: #424242;
}

@media (max-width: 599px) {
  .application-card__match-section .application-card__match-section-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.application-card__match-section .application-card__match-section-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
/*# sourceMappingURL=progressbar-loader.css.map */