@import 'custom-components/_fonts.scss';
@import 'custom-components/breakpoint/_breakpoint.scss';
@import 'custom-components/breakpoint/_custom-breakpoint.scss';
@import 'custom-components/_colors.scss';
@import 'custom-components/_form-styles.scss';
@import 'custom-components/_custom-buttons.scss';
@import 'custom-components/_helpers.scss';
@import 'custom-components/_loader.scss';
@import 'custom-components/_newlandingpages.scss';
@import 'custom-components/_checkbox.scss';
@import 'custom-components/_dropdown.scss';
@import 'custom-components/_inputwrapper.scss';


body * {
    box-sizing: border-box;
}

body {
    font-family: $font-family-name, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    
    @include breakpoint($phone-only){
        position: relative;
    }

}

h1 {
    //styleName: H1/Bold;
    font-size: 32px;
    font-weight: 690;
    line-height: 1.4;
    letter-spacing: 0.012em;

    margin: 0;

    @include breakpoint($phone-only) {
        font-size: 24px;
        line-height: 1.4;
    }
}

h2 {
    //styleName: H2/Bold;
    font-size: 28px;
    font-weight: 690;
    line-height: 1.4;
    letter-spacing: 0.012em;

    margin: 0;

    @include breakpoint($phone-only){
        font-size: 22px;
        line-height: 1.4;
    }
}

h3 {
    //styleName: H3/Bold;
    font-size: 24px;
    font-weight: 690;
    line-height: 1.4;
    letter-spacing: 0.012em;

    @include breakpoint($phone-only){
        font-size: 17px;
        line-height: 1.4;
    }
}
h4{
    font-size: 20px;
    font-weight: 690;
    font-weight: 690;
    line-height: 1.4;
    letter-spacing: 0.012em;

    margin: 0;
    @include breakpoint($phone-only){
        font-size: 17px;
    }
}
h5{
    font-size: 17px;
    font-weight: 690;
    line-height: 1.4;
    letter-spacing: 0.012em;
}
.subtitle{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 630;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.014em;
}
.help-text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 520;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.014em;
}

.small-fontsize{
    font-size: 17px;
    font-weight: 690;
    line-height: 1.4;
    letter-spacing: 0.012em;

    @include breakpoint($phone-only){
        font-size: 15px;
        letter-spacing: 0.014em;
    }
}

p {
    font-weight: 400;
    font-size: 15px;
    font-weight: 520;
    line-height: 1.4;
    letter-spacing: 0.014em;
}
a{
    text-decoration: none;
}

.title-color{
    color : $grey-900;
}

.gap-extrasmall{
    gap: $gap-extrasmall;
}
.gap-small{
    gap: $gap-small;
    
    @include breakpoint($phone-only){
        gap: 12px;
    }

}
.gap-medium{
    gap: $gap-medium;
}
.gap-large{
    gap : $gap-large ;

    @include breakpoint($phone-only){
        gap: 44px;
    }
}
.section-padding-small{
    padding-top: $sec-regular;
    padding-bottom: $sec-regular;

    @include breakpoint($phone-only){
        padding-top: 44px;
        padding-bottom: 44px; 
    }
}
.section-padding-medium {
    padding-top: $sec-medium;
    padding-bottom: $sec-medium;

    @include breakpoint($phone-only){
        padding-top: 44px;
        padding-bottom: 44px; 
    }
}
.section-padding-large {
    padding-top: $sec-large;
    padding-bottom: $sec-large;

    @include breakpoint($phone-only){
        padding-top: 84px;
        padding-bottom: 84px;
    }
}


.d-grid{
    display: grid;
}
.grid-3{
    grid-template-columns: 1fr 1fr 1fr ;

    @include breakpoint($phone-only){
        grid-template-columns: 1fr;
    }
}
.d-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}


.bg-color-primary{
    background-color: $primary-100;
}

header {
    padding: 0 0.8vw;
    
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    bottom: auto;
    background-color: white;
    z-index: 999;

    
}

nav {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    z-index: 1;
    // max-width: $query-maxwidth-large;

    @include breakpoint ($large-device) {
        padding-left: 0;
        padding-right: 0;
        max-width: $query-maxwidth-large;
    }

    

    @include breakpoint ($phone-only){
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        padding: 8px 16px;
        height: 56px;
    }
    .nav-logo{
        @include breakpoint ($phone-only){
            flex: 1;
            height: 28px;
        }
    }

    ul.navigation-links{
        @include breakpoint ($phone-only){
            display: none;
        }
    }
    
    button.navbar-toggler{
        background: transparent;
        border: 0px none;
        padding: 0;
        height: 24px;

        @include breakpoint ($not-phone){
            display: none;
        }
    }

    
    >svg {
        width: 97px;
        height: 27px;

        @include breakpoint ($phone-only){
            width: auto;
            height: auto;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        height: 100%;

        
        li.navigation-link {
            display: flex;
            flex-direction: column;
            height: 100%;

            &[data-state = "opening"]{
                a{
                    color: #494FC9;
                    font-weight: 690;
                }
                svg path{
                    fill: #494FC9;
                }
            }

            @include breakpoint($tablet) {
                display: none;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 16px;

                height: 100%;
                text-decoration: none;

                font-size: 15px;
                line-height: 1.4;
                letter-spacing: 0.014em;

                color: $grey-600;
                font-weight: 630;
                gap: $gap-extrasmall;

                
            }

        }

        li.has-child {
            position: relative;
            &:hover{
                .dropdown__detail{
                    display: grid;
                    
                }
            }
            .dropdown__detail{
                display: none;
                position: fixed;
                top: 80px;
                width: 760px;
                left: 0;
                right: 0;
                margin: auto;
                padding-inline-start: 0px;
                grid-template-columns: 320px auto;
                background: #FCFCFC;
                border-right: 1px solid #E5E5E5;    
                box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
                border-radius: 12px;
                min-height: 476px;  
                z-index: 9;

                .tab-content{
                    .tab-pane{
                        display: none;

                        &.active{
                            display: block;
                        }
                    }
                }

                .condition-specific__links{
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 32px 20px;
                    gap: 8px;

                    li{
                        padding: 12px 24px;
                        text-align: left;
                        width: 100%;

                        &:hover{
                            background: $nav-hover;
                            span.hovervisible {
                                display: block;
                            }
                        }

                        p{
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                        }

                        .active{
                            color: #494FC9;
                        }

                        a {
                            flex-direction: column;
                            text-align: left!important;
                            align-items: flex-start;
                            will-change: height;

                            @include smooth-transition(100ms);

                            span.hovervisible {
                                display: none;
                                align-self: flex-start;
                            }

                        }
                    }


                }

                p{
                    font-weight: 690;
                    color: #424242;
                    text-align: left;
                   
                }
                span{
                    font-weight: 520;
                    font-size: 12px;
                    line-height: 1.4;
                }
                .nav-submenu{
                    padding: 20px 16px;
                    gap: 32px;
                    display: grid;
                    grid-auto-rows: min-content;

                    a{
                        padding: 15px 20px;
                        gap: 8px;
                        border: 1px solid #A2A5E4;
                        border-radius: 12px;
                        color: #494FC9;
                        width: 100%;

                        span{
                            font-size: 15px;
                            letter-spacing: 0.014em;
                        }
                    }
                }
                
                button{
                    background-color: transparent;
                    border: none;
                    text-align: left;
                    padding: 12px 24px;
                    gap: 4px;
                    display: grid;
                    width: 100%;
                    text-align: left;
                    cursor: pointer;
                }
                button.active{
                    background: #ECEDF9;
                    border-radius: 12px;
                    border: none;
                    
                }
            }
        }
    }
    .navigation-buttons{
        display: flex;
        align-items: center;
        gap: 16px;
        @include breakpoint ($phone-only){
            height: 100%;
            .nav-button.filled.btn{
                display: none;
            }
        }
    }
    @include breakpoint($not-phone){
        div.mobile-menu, div.mobile-submenu {
            display: none;
        }
    }
    @include breakpoint($phone-only){
        // gap: 12px;
        .mobile-menu{
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            background-color: white;
            
            button {
                background: transparent;
                border: 0px none;
                padding: 0;
                height: 24px;
            }
        }
        
        .mobile-submenu{
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            background-color: white;

            button.navbar-close-toggler {
                background: transparent;
                border: 0px none;
                padding: 0;
                height: 24px;
            }

            .login-button{
                font-family: Manrope;
                font-size: 15px;
                font-weight: 690;
                line-height: 22px;
                letter-spacing: 0px;
                color:#616161;
                letter-spacing: 0.014em;
            }

            .back-btn{
                gap:4px
            }
        }
        .top-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 16px 24px;
            gap: 16px;

            height: 56px;
        }
        .login-btn {
            display: flex;
            gap: 16px;
        }
        a.login-button {
            font-size: 15px;
            font-weight: 690;
            letter-spacing: 0.014em;
        }
        .mobile__main-content {
            height: calc(92vh - 56px);
            padding: 0px 0px 8px;
            gap: 8px;
        }
        ul.mobile__nav-links {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 24px 16px 16px 16px;
            gap: 16px;
            margin: 0;
        }
        li.mobile__nav-link{
            width: 100%;
            flex-direction: row;
            align-items: center;
            padding: 16px;
            gap: 16px;
            border-radius: 12px;
        }
        a.mobile__navigation-link, a.mobile__navigation-link-submenu, .mobile__navigation-link-submenu-none{
            display: flex;
            gap: 16px;
            position: relative;
        }
        .mobile__navigation-text {
            gap: 8px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
        }
        .mobile__navigation-icon-wrapper{
            padding-top: 5px;
        }
        .mobile__nav-text{
            font-size: $font-med;
            font-weight: 690;
            line-height: 1.4;
            color: $grey-600;
        }
        .mobile__nav-helper-text{
            font-size: 14px;
            font-weight: 520;
            line-height: 1.4;
            letter-spacing: 0.014em;
            color: $grey-600;
        }

        .mobile__nav-link{
            .mobile__navigation-link-submenu{
                .mobile__navigation-text{
                    justify-content: center;
                }
            }
            .mobile__nav-links-inner{
                display: none;
                .mobile__nav-link-list{
                    display: grid;
                    background: $active-submenu-mobile-nav;
                    padding: 0;

                    li.mobile__nav-link-item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 16px 16px 16px 52px;
                        gap: 16px;

                        a {
                            font-size: 15px;
                            line-height: 1.4;
                            color: $grey-600;
                            font-weight: 630;
                            letter-spacing: 0.014em;
                        }
                    }
                }
                .mobile__nav-links-inner{
                    display: none;
                }
                
            }
            &.active{
                .mobile__navigation-link{
                    background: $primary-100;
                }
                .mobile__navigation-link-submenu{
                    background: $primary-100;
                    .mobile__nav-text{
                        color: $primary-600;
                    }
                    .mobile__navigation-arrow{
                        transform: rotate(180deg) translateY(20px);

                        path{
                            fill: $primary-600;
                        }
                    }
                    .mobile__navigation-icon-wrapper {
                        path.hoverrule{
                            fill: $primary-600;
                        }
                        path.hoverstrokerule{
                            stroke: $primary-600;
                        }
                    }
                }
                .mobile__nav-links-inner{
                    display: block;
                }
            }
        }
        .mobile__navigation-arrow {
            position: absolute;
            left: 95%;
            top: 50%;
            transform: translateY(-50%);
        }
        .mobile__footer-content {
            padding: 16px 0;
            margin: 0 24px;
            border-top: 0.1px solid #e5e5e5;
        }
        ul.mobile__footer-links {
            margin: 0;
            display: flex;
            list-style: none;
            flex-direction: initial;
            padding: 0;
            width: 100%;
        }
        li.footer__navigation-link {
            display: flex;
            width: 50%;
            justify-content: center;
        }
        .footer__navigation-item {
            display: flex;
            gap: 10px;
        }
        .footer__helper-text{
            font-size: 14px;
            font-weight: 520;
            line-height: 18px;
            letter-spacing: 0.014em;
            color:#707070
        }
        .submenu__header {
            text-align: center;
            border-bottom: 1px solid #e5e5e5;
            padding: 8px 0;
            p {
                font-size: 18px;
                font-weight: 690;
                line-height: 25px;
                color: #595959;
            }
        }
        .submenu__content{
            display: flex;
            flex-direction: column;
            padding: 16px;
            gap: 24px;

            ul.mobile__nav-links {
                padding: 0px;
                gap: 8px;

                li.mobile__nav-link{
                    padding: 0;
                    overflow: hidden;

                    a.mobile__navigation-link-submenu {
                        padding: 16px;
                        gap: 16px;

                        .mobile__navigation-arrow {
                            position: absolute;
                            left: 90%;
                        }
                    }
                }
            }

            a.mobile__navigation-link-submenu-none {
                padding: 16px;
                gap: 16px;
                .mobile__navigation-arrow{
                    display: none;
                }
            }
        }
        .submenu-btn{
            width: 100%;
        }
    }
}
.profile-btn{
    display: flex;
    align-items: center;
    @include breakpoint ($phone-only){
        display: none;
    }
}


// banner section

.newuser-sigupflow__container {
    display: grid;
    padding-top: 32px;
    padding-bottom: 24px;
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    width: 100%;

    @include breakpoint ($large-desktop) {
        max-width: 1440px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }
    @include breakpoint ($phone-only){
        padding: 0px;
    }
}
.notification-button {
    position: relative;
}
.badge {
    width: 18px;
    height: 18px;
    display: flex;
    position: absolute;
    top: 0;
    right: auto;
    left: 39px;
    background-color: $primary-600;
    border-radius: 50px;
    color: white;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 520;
    font-size: 14px;
    letter-spacing: 0.014em;
    line-height: 1.4;
    align-items: center;
    justify-content: center;

    @include breakpoint ($phone-only){
        display: none;
    }

}

section#congratulations__banner-section {
    .congratulations-banner__main {
        display: grid;
        justify-items: center;
        text-align: center;
        padding: 44px 0px;
        gap: 12px;
        background-color: $primary-600;
        border-radius: 12px;
        color: $grey-100;
        background-image: url(../res/section/congratulations-banner-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        isolation: isolate;

        @include breakpoint ($phone-only){
            border-radius: 0px;
        }

        h1 {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 690;
            font-size: 24px;
            letter-spacing: 0.012em;
            line-height: 1.4;
        }
        .congratulations-banner__text-group {
            display: grid;
            padding: 12px 20px 0px;
            gap: 8px;
        }
    }
}

// card list css

.onbording-cards-wrap{
    grid-template-columns: 339px 1fr;
    gap: 32px;
}
.form__input-group {
    display: grid;
    gap: $gap-extrasmall;
    align-self: flex-start;
}
.filter-type__option-items-group{
    display: grid;
    gap: 24px;
}
section#carer-card-list-section{
    .carer-card-list__filters{
        .form__input-group{
            .input__field-wrapper{
                padding: 7px 16px;
                align-items: center;
                gap: 16px;
                .prefix-img{
                    padding: 0px !important;
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
                .postfix-img{
                    padding: 8px !important;
                    border-radius: 50px;
                    background: #ECEDF9;
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
                input{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 520;
                    font-size: 15px;
                    line-height: 1.4;
                    color: $grey-900;
                    border-radius: 0px;
                    letter-spacing: 0.014em;
                }
            }
        }
    }
}



