<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Curam - Landing Page</title>

    <link rel="stylesheet" href="../../css/style.css">

</head>

<body>
    <div class="form__body help-needed checkbox-btn" role="group" aria-labelledby="helpneeded">
        <div class="form-check">
            <label class="checkbox-lable" for="companionship">
                <input type="checkbox" aria-checked="false" tabindex="0" id="companionship" name="companionship" value="companionship" onclick="getCheckbox('helpneeded-form',this)" class="checkboxchecked">
                <span class="checkbox__details"> 
                    <p class="checkbox-title regular-font d-grid">
                        <span class="title-caption">Companionship and household tasks </span>
                        <span class="checkbox-subtex caption" style="width: 100%; float: left;">Companionship, cooking, housekeeping, medical prompting</span>
                    </p>
                </span>
            </label>
        </div>
        <div class="form-check">
            <label class="checkbox-lable" for="personal">
                <input type="checkbox" aria-checked="false" tabindex="0" id="personal" name="personal" value="personal" onclick="getCheckbox('helpneeded-form',this)" class="checkboxchecked">
                <span class="checkbox__details"> 
                    <p class="checkbox-title regular-font d-grid">
                        <span class="title-caption">Personal care</span>
                        <span class="checkbox-subtex caption" style="width: 100%; float: left;">Personal care, dressing/undressing, bathroom assistance</span>
                    </p>
                </span>
            </label>
        </div>
        <div class="form-check">
            <label class="checkbox-lable" for="specialist">
                <input type="checkbox" aria-checked="false" tabindex="0" id="specialist" name="specialist" value="specialist" onclick="getCheckbox('helpneeded-form',this)" class="checkboxchecked">
                <span class="checkbox__details"> 
                    <p class="checkbox-title regular-font d-grid">
                        <span class="title-caption">Specialist experience</span>
                    <span class="checkbox-subtex caption" style="width: 100%; float: left;">Early stage dementia, physical disabilities, late stage dementia</span>
                    </p>
                </span>
            </label>
        </div>
        <div class="form-check">
            <label class="checkbox-lable" for="mobility">
                <input type="checkbox" aria-checked="false" tabindex="0" id="mobility" name="mobility" value="mobility" onclick="getCheckbox('helpneeded-form',this)" class="checkboxchecked">
                <span class="checkbox__details"> 
                    <p class="checkbox-title regular-font d-grid">
                        <span class="title-caption">Mobility assistance</span>
                        <span class="checkbox-subtex caption" style="width: 100%; float: left;">Moving and handling, exericse, eating and drinking assistance</span>
                    </p>
                </span>
            </label>
        </div>
    </div>
    
</body>
</html>