<div class="radio-item-group ">
    <div class="radio-item">
        <input type="radio" id="male" name="gender" value="male">
                            <label for="male">Male</label>
        <div class="check"><div class="inside"></div></div>
    </div>
    <div class="radio-item">
        <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Female</label>
        <div class="check"><div class="inside"></div></div>
    </div>
    <div class="radio-item">
        <input type="radio" id="no-preference" name="gender" value="no-preference">
                            <label for="no-preference">No preference</label>
        <div class="check"><div class="inside"></div></div>
    </div>
</div>