<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Curam - Landing Page</title>

    <link rel="stylesheet" href="../../css/style.css">

</head>

<body>
    <div class="filter-type__option-items-group ">
        <div class="filter-type__option-item uniform-checkbox">
            <input type="checkbox" id="option-1" class="checkbox-option">
            <label class="checkbox-label" for="option-1">
                <span class="subtitle">Companionship and household tasks</span>
                <span class="help-text">Companionship, cooking, housekeeping, medical prompting</span>
            </label>
        </div>

        <div class="filter-type__option-item uniform-checkbox">
            <input type="checkbox" id="option-2" class="checkbox-option">
            <label class="checkbox-label" for="option-2">
                <span class="subtitle">Personal care</span>
                <span class="help-text">Personal care, dressing/undressing, bathroom assistance</span>
            </label>
        </div>

        <div class="filter-type__option-item uniform-checkbox">
            <input type="checkbox" id="option-3" class="checkbox-option">
            <label class="checkbox-label" for="option-3">
                <span class="subtitle">Mobility assistance</span>
                <span class="help-text">Moving and handling, exercise, eating and drinking assistance</span>
            </label>
        </div>
        
    </div>
 </body>

</html>